openapi: 3.2.0
info:
  title: Policy Service Details API
  description: Enterprise level policy service
  version: 0.0.21
  contact: {}
servers:
- url: https://api.zinnia.io
tags:
- name: Details
  description: Get policy details
paths:
  /policy/v1/policies/{planCode}/{policyNumber}/transactions:
    get:
      operationId: Transactions
      summary: Get Policy Transactions
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: reverseInitiatorOnly
        required: false
        in: query
        schema:
          type: boolean
      - name: status
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: endDate
        required: false
        in: query
        schema:
          type: string
      - name: startDate
        required: false
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: integer
      - name: offset
        required: false
        in: query
        schema:
          type: integer
      - name: sortField
        required: false
        in: query
        schema:
          enum:
          - EFFECTIVEDATE
          - PROCESSDATE
          - REVERSALDATE
          type: string
      - name: sortOrder
        required: false
        in: query
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - name: version
        required: false
        in: query
        schema:
          type: integer
      - name: transactionTypes
        required: false
        in: query
        description: Specifies the type of transaction being performed, such as Premium Payment, Loan Repayment, Anniversary etc
        schema:
          type: array
          items:
            type: string
            enum:
            - Activation
            - AddOwner
            - AddressChange
            - AgentChange
            - AnnuitantChange
            - Anniversary
            - AnnualPolicyRefreshAndRecalculation
            - AssigneeChange
            - BankAccountChange
            - BeneficiaryChange
            - CalendarProcessing
            - CancelNoPremium
            - ClaimPayout
            - CommunicationPreferenceChange
            - ConversionActivation
            - CostOfInsurance
            - CoverageCharge
            - CoverageCredit
            - DeathClaim
            - DeliveryDateSetup
            - Disbursement
            - EmailChange
            - ExistingPartyNameChange
            - ExpenseCharge
            - FaceAmountChange
            - FaceAmountDecrease
            - FaceAmountIncrease
            - FeatureChange
            - ForceOut
            - FreeLookExpiration
            - FreeLookCancellation
            - FullSurrender
            - FundAllocationsChange
            - FundTransfer
            - GrantorChange
            - PaymentInitialPremium
            - IdentifierChange
            - InitialPremium
            - InterestCredit
            - InterestCreditLoan
            - InterestCreditMatch
            - InterestLoan
            - Issuance
            - Lapse
            - LapseAssessment
            - LoanAnniversaryTrueUp
            - LoanRepaymentOneTime
            - MatchBonusVesting
            - MultipleBeneficiaryChange
            - MultipleEmailChange
            - MultiplePayeeChange
            - MultipleAgentChange
            - MultipleOwnerChange
            - MultipleAnnuitantChange
            - MultiplePhoneNumberChange
            - NewLoan
            - NotificationOfDeathClaim
            - OneTimePremium
            - OwnerChange
            - PartialWithdrawalOneTime
            - PolicyDetailsChange
            - PayeeChange
            - PaymentExpiration
            - PaymentLoanRepaymentOneTime
            - PaymentOneTimePremium
            - PaymentSystematicLoanRepayment
            - PayorChange
            - PhoneNumberChange
            - RateRenewal
            - RemoveOwner
            - Rescission
            - PowerOfAttorneyChange
            - PreferredMailingAddressChange
            - Reinstatement
            - ReinstatementApproved
            - Reissuance
            - RequiredMinimumDistributionOneTime
            - SubsequentPayment
            - SubsequentPremium
            - Sweep
            - SystematicLoanRepayment
            - SystematicLoanRepaymentSetup
            - SystematicPartialWithdrawal
            - SystematicPartialWithdrawalSetup
            - SystematicRequiredMinimumDistribution
            - SystematicRequiredMinimumDistributionSetup
            - SystematicPaymentSetup
            - SystematicAnnuityPayout
            - SystematicAnnuityPayoutSetup
            - SystematicProgramUpdate
            - TPDChange
            - TrusteeChange
            - UnitExpenseCharge
            - ValueAdjustment
            - YearBeginningRefreshAndRecalculation
            - WithdrawnApplication
            - DollarCostAverage
            - ProcessingDate
            - ServiceCharge
            - TransferCharge
            - RiderAddition
            - Annuitization
            - AnnuityBenefitReduction
            - Reclassification
            - FlatExtraChange
            - Commutation
            - Dividend
            - DividendFeatureCharge
            - MarketTimerFee
            - InterimAnnualProcessing
            - HardshipWithdrawal
            - HardshipEnd
            - ResetBenefitAmounts
            - GuaranteedAccumulationBenefitPeriodEnd
            - GainLossChargeBack
            - SpousalContinuation
            - PeriodicCharge
            - DeathBenefitLockIn
            - RatchetLockIn
            - GrowthDeathBenefitLockIn
            - DateOfDeath
            - BenefitAmountAutoAdjustment
            - NotificationOfRiderClaimStart
            - LongTermCareBenefitStartStop
            - DailyRatchet
            - AnnuitizationAnniversary
            - DeclineFeeChange
            - GuaranteedWithdrawalBenefitPaymentLockIn
            - ExcessInterestCredit
            - LongTermCareWithdrawal
            - GuaranteedWithdrawalBenefitInterestAdjustment
            - InvestmentAdvisorFee
            - PayoutAmountChange
            - AdditionalBenefitStart
            - AdditionalBenefitEnd
            - RiderActivationAnniversary
            - AdditionalBenefitRenew
            - QualifiedPlanChange
            - AdvanceAnnuityPayment
            - PartialCommutation
            - GuaranteedIndexRates
            - BailoutRenewal
            - NonLifeAnnuitization
            - AdditionalBenefitReCertification
            - CostBasisReceived
            - FreeWithdrawalRecalculation
            - YearEndGain
            - LongTermCareCertificationDate
            - QuarterlyProcessing
            - BenefitBaseAdjustment
            - RiderBenefitBaseLockIn
            - GuaranteedDeathBenefitRollUpRenew
            - GuaranteedWithdrawalBenefitRollUpRenew
            - RiderCharge
            - LongTermCareFeeStartStop
            - LongTermCareAssessmentCharge
            - RoleBirthday
            - PendingUnclaimedProperty
            - PendingPartialUnclaimedProperty
            - LiquidatedUnclaimedProperty
            - SystematicRiderClaimWithdrawalSetup
            - SystematicRiderClaimWithdrawal
            - TaxWithholdingChange
            - MultipleTrusteeChange
            - MultiplePowerOfAttorneyChange
            - OtherInterestedPartyChange
            - MultipleAuthorizedSignatoryChange
            - AuthorizedSignatoryChange
            - ExchangeCompanyChange
            - BillingFeatureChange
            - GWBPhaseChange
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/transactions/{transactionId}:
    get:
      operationId: Transaction By Id
      summary: Get Policy Transaction by ID
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: transactionId
        required: true
        in: path
        schema:
          type: string
      - name: status
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: endDate
        required: false
        in: query
        schema:
          type: string
      - name: startDate
        required: false
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: number
      - name: offset
        required: false
        in: query
        schema:
          type: number
      - name: sortOrder
        required: false
        in: query
        schema:
          type: string
      - name: version
        required: false
        in: query
        schema:
          type: number
      - name: transactionType
        required: false
        in: query
        description: Specifies the type of transaction being performed, such as Premium Payment, Loan Repayment, Anniversary etc
        schema:
          enum:
          - Activation
          - AddOwner
          - AddressChange
          - AgentChange
          - AnnuitantChange
          - Anniversary
          - AnnualPolicyRefreshAndRecalculation
          - AssigneeChange
          - BankAccountChange
          - BeneficiaryChange
          - CalendarProcessing
          - CancelNoPremium
          - ClaimPayout
          - CommunicationPreferenceChange
          - ConversionActivation
          - CostOfInsurance
          - CoverageCharge
          - CoverageCredit
          - DeathClaim
          - DeliveryDateSetup
          - Disbursement
          - EmailChange
          - ExistingPartyNameChange
          - ExpenseCharge
          - FaceAmountChange
          - FaceAmountDecrease
          - FaceAmountIncrease
          - FeatureChange
          - ForceOut
          - FreeLookExpiration
          - FreeLookCancellation
          - FullSurrender
          - FundAllocationsChange
          - FundTransfer
          - GrantorChange
          - PaymentInitialPremium
          - IdentifierChange
          - InitialPremium
          - InterestCredit
          - InterestCreditLoan
          - InterestCreditMatch
          - InterestLoan
          - Issuance
          - Lapse
          - LapseAssessment
          - LoanAnniversaryTrueUp
          - LoanRepaymentOneTime
          - MatchBonusVesting
          - MultipleBeneficiaryChange
          - MultipleEmailChange
          - MultiplePayeeChange
          - MultipleAgentChange
          - MultipleOwnerChange
          - MultipleAnnuitantChange
          - MultiplePhoneNumberChange
          - NewLoan
          - NotificationOfDeathClaim
          - OneTimePremium
          - OwnerChange
          - PartialWithdrawalOneTime
          - PolicyDetailsChange
          - PayeeChange
          - PaymentExpiration
          - PaymentLoanRepaymentOneTime
          - PaymentOneTimePremium
          - PaymentSystematicLoanRepayment
          - PayorChange
          - PhoneNumberChange
          - RateRenewal
          - RemoveOwner
          - Rescission
          - PowerOfAttorneyChange
          - PreferredMailingAddressChange
          - Reinstatement
          - ReinstatementApproved
          - Reissuance
          - RequiredMinimumDistributionOneTime
          - SubsequentPayment
          - SubsequentPremium
          - Sweep
          - SystematicLoanRepayment
          - SystematicLoanRepaymentSetup
          - SystematicPartialWithdrawal
          - SystematicPartialWithdrawalSetup
          - SystematicRequiredMinimumDistribution
          - SystematicRequiredMinimumDistributionSetup
          - SystematicPaymentSetup
          - SystematicAnnuityPayout
          - SystematicAnnuityPayoutSetup
          - SystematicProgramUpdate
          - TPDChange
          - TrusteeChange
          - UnitExpenseCharge
          - ValueAdjustment
          - YearBeginningRefreshAndRecalculation
          - WithdrawnApplication
          - DollarCostAverage
          - ProcessingDate
          - ServiceCharge
          - TransferCharge
          - RiderAddition
          - Annuitization
          - AnnuityBenefitReduction
          - Reclassification
          - FlatExtraChange
          - Commutation
          - Dividend
          - DividendFeatureCharge
          - MarketTimerFee
          - InterimAnnualProcessing
          - HardshipWithdrawal
          - HardshipEnd
          - ResetBenefitAmounts
          - GuaranteedAccumulationBenefitPeriodEnd
          - GainLossChargeBack
          - SpousalContinuation
          - PeriodicCharge
          - DeathBenefitLockIn
          - RatchetLockIn
          - GrowthDeathBenefitLockIn
          - DateOfDeath
          - BenefitAmountAutoAdjustment
          - NotificationOfRiderClaimStart
          - LongTermCareBenefitStartStop
          - DailyRatchet
          - AnnuitizationAnniversary
          - DeclineFeeChange
          - GuaranteedWithdrawalBenefitPaymentLockIn
          - ExcessInterestCredit
          - LongTermCareWithdrawal
          - GuaranteedWithdrawalBenefitInterestAdjustment
          - InvestmentAdvisorFee
          - PayoutAmountChange
          - AdditionalBenefitStart
          - AdditionalBenefitEnd
          - RiderActivationAnniversary
          - AdditionalBenefitRenew
          - QualifiedPlanChange
          - AdvanceAnnuityPayment
          - PartialCommutation
          - GuaranteedIndexRates
          - BailoutRenewal
          - NonLifeAnnuitization
          - AdditionalBenefitReCertification
          - CostBasisReceived
          - FreeWithdrawalRecalculation
          - YearEndGain
          - LongTermCareCertificationDate
          - QuarterlyProcessing
          - BenefitBaseAdjustment
          - RiderBenefitBaseLockIn
          - GuaranteedDeathBenefitRollUpRenew
          - GuaranteedWithdrawalBenefitRollUpRenew
          - RiderCharge
          - LongTermCareFeeStartStop
          - LongTermCareAssessmentCharge
          - RoleBirthday
          - PendingUnclaimedProperty
          - PendingPartialUnclaimedProperty
          - LiquidatedUnclaimedProperty
          - SystematicRiderClaimWithdrawalSetup
          - SystematicRiderClaimWithdrawal
          - TaxWithholdingChange
          - MultipleTrusteeChange
          - MultiplePowerOfAttorneyChange
          - OtherInterestedPartyChange
          - MultipleAuthorizedSignatoryChange
          - AuthorizedSignatoryChange
          - ExchangeCompanyChange
          - BillingFeatureChange
          - GWBPhaseChange
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/transactions/{externalIdType}/{externalId}:
    get:
      operationId: Transaction by External Transaction Id
      summary: Get Transaction by External Transaction Id
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: externalId
        required: true
        in: path
        schema:
          type: string
      - name: externalIdType
        required: true
        in: path
        schema:
          enum:
          - ExternalTransactionId
          - ReferenceNumber
          - ExternalArrangementId
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/systematicPrograms:
    get:
      operationId: Systematic Programs
      summary: Get Policy Systematic Programs
      parameters:
      - name: referenceId
        required: false
        in: query
        schema:
          type: string
      - name: referenceType
        required: false
        in: query
        schema:
          enum:
          - PartyId
          - BankId
          - AddressId
          type: string
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystematicProgram'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/systematicPrograms/{externalIdType}/{externalId}:
    get:
      operationId: Systematic Programs for External Transaction Id
      summary: Get Systematic Programs by External Transaction Id
      parameters:
      - name: referenceId
        required: false
        in: query
        schema:
          type: string
      - name: referenceType
        required: false
        in: query
        schema:
          enum:
          - PartyId
          - BankId
          - AddressId
          type: string
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: externalId
        required: true
        in: path
        schema:
          type: string
      - name: externalIdType
        required: true
        in: path
        schema:
          enum:
          - ExternalTransactionId
          - ReferenceNumber
          - ExternalArrangementId
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystematicProgram'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/riders:
    get:
      operationId: Riders
      summary: Get Policy Riders
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rider'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/parties:
    get:
      operationId: Parties
      summary: Get Policy Parties
      parameters:
      - name: partyRole
        required: false
        in: query
        schema:
          enum:
          - Owner
          - JointOwner
          - Annuitant
          - JointAnnuitant
          - Payee
          - Payor
          - ThirdPartyDesignee
          - PrimaryBeneficiary
          - ContingentBeneficiary
          - Grantor
          - Trustee
          - PowerOfAttorney
          type: string
      - name: partyId
        required: false
        in: query
        schema:
          type: string
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicyPartyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/lpspayload:
    get:
      operationId: Policy Illustration Information
      summary: Get Policy LPS Payload
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LPSPayloadResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/features:
    get:
      operationId: Features
      summary: Get Policy Features
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicyFeature'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/distribution:
    get:
      operationId: Distribution of Investments
      summary: Get Policy Distribution
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: version
        required: false
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Distribution'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
  /policy/v1/policies/{planCode}/{policyNumber}/coverage:
    get:
      operationId: Coverage
      summary: Get Policy Coverage
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCoverage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Details
components:
  schemas:
    ParticipantAttributes:
      type: object
      properties:
        partyId:
          type: string
          example: PARTY123
          description: Party ID is a unique identifier assigned to a party (individual or entity) involved in an insurance or annuity contract. This identifier helps ensure accurate data exchange and tracking across insurance transactions
        issueAge:
          type: string
          example: '30'
          description: Issue Age
        underwritingClass:
          type: string
          example: Preferred
          enum:
          - Preferred
          - Standard
          description: Underwriting Class
        temporaryTableRating:
          type: string
          example: Table A
          description: Temporary Table Rating
      required:
      - partyId
      - issueAge
      - temporaryTableRating
    AmountType:
      type: string
      enum:
      - AMOUNT
      - PERCENTAGE
      - MAX
      - FREEWITHDRAWALAMOUNT
      - WITHDRAWALUNTILBASIS
      - EARNINGSONLY
      - PRORATA
      - PERCENT
      - MODIFIEDEARNINGSONLY
      - SUNINCOMEMAXIMIZERONLYLBRMAXIMUM
      - SUNINCOMEMAXIMIZERNETONETIMEACCESS
      - NONSUNINCOMEMAXIMIZERLBRSWDMAXIMUM
      - SUNINCOMEMAXIMIZERGROSSONETIMEACCESS
      - YEARTODATEFIXEDEARNINGS
      - EARNINGSLIQUIDITYFIRST
      - EARNINGSLIQUIDITYLAST
      - GUARANTEEDWITHDRAWALBENEFIT
      - FIXEDMODIFIEDEARNINGS
      - ACCUMULATEDEARNINGS
      - LIFEEXPECTANCY
      - DEFAULT
    RiderParticipant:
      type: object
      properties:
        insuredId:
          type: string
          description: A unique identifier assigned to the insured individual within the system who was covered under this rider
          example: Party_PI_1
        insuredAgeAtIssue:
          type: number
          description: The age of the insured at the time the rider was issued
          example: 50
          format: int32
    Rider:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: TBD
          example: '2023-01-01T12:00:00.000Z'
        type:
          $ref: '#/components/schemas/RiderType'
        riderName:
          type: string
          example: Chronic Illness Accelerated Death Benefit Rider
          description: The specific name of the rider as designated by the insurance company. For example - Terminal Illness Accelerated Death Benefit
        riderElected:
          type: string
          description: Indicates the election status of the rider on the policy, specifying whether the policyholder has formally elected to include the rider
          example: ELECTED
        riderCode:
          type: string
          description: A unique identifier or alphanumeric code assigned to the rider
          example: EVGLHR
        underwritingStatus:
          $ref: '#/components/schemas/UnderwritingStatus'
        unbornChildIndicator:
          type: boolean
          description: This will be set to yes if there is no Child rider insured to support Unborn Child
        qualifiedAdditionalBenefit:
          type: boolean
          description: Indicates whether the rider provides a qualified benefit under IRS or insurance regulations
        effectiveDate:
          type: string
          format: date
          description: Date on which Rider is selected and becomes effective on the policy
          example: '2023-01-01'
        exerciseDate:
          type: string
          format: date
          description: The date the policyholder elects to use or activate the rider benefit
          example: '2023-01-01'
        terminationDate:
          type: string
          format: date
          description: The date on which the rider coverage ends/ is terminated
          example: '2023-01-01'
        status:
          $ref: '#/components/schemas/Status'
        coverageId:
          type: string
          example: Rider_EVGLCHR
          description: An unique identifier assigned to the rider coverage within an insurance coverage or policy layer
        amount:
          type: number
          description: The total benefit amount the rider provides (separate from the base policy’s coverage.)
          example: 0
        annualBenefitAmount:
          type: number
          description: The maximum benefit amount of the benefit base, policyholder can withdraw each year
          example: 0
          format: double
        riderBenefitAmount:
          type: number
          description: The Total Benefit Amount represents the maximum guaranteed amount available under the annuity rider over the life of the contract/rider
          example: 0
          format: double
        riderBenefitPercent:
          type: number
          description: The fixed percentage applied to the Rider Benefit Amount to calculate the annual guaranteed benefit amount
          example: 100
          format: double
        minimumRiderBenefitAmount:
          type: number
          description: Refers to a guaranteed payout to a beneficiary upon the death of the annuitant, regardless of the contract investment performance, as long as the annuity is in the accumulation phase. Used for Variable annuities
          example: 0
          format: double
        growthIncomeBenefitAmount:
          type: number
          description: The Growth Income Benefit value represents the guaranteed income base established under a Guaranteed Minimum Income Benefit (GMIB) rider. It is used to calculate the lifetime income payments the annuitant is entitled to upon annuitization, regardless of the contract actual account value.
          example: 0
          format: double
        riderStoredIncomeBalance:
          type: number
          description: Amount that can be withdrawn without reducing the yearly or Lifetime rider benefit amount
          example: 0
          format: double
        riderParticipant:
          description: Note - Use riderParticipants field instead of riderParticipant
          type: array
          items:
            $ref: '#/components/schemas/RiderParticipant'
        additionalBenefitUsageCount:
          type: number
          format: int32
          description: The number of times the additional benefit has been used.
          example: 0
        riderParticipants:
          type: array
          items:
            $ref: '#/components/schemas/PartyRiderParticipant'
        charge:
          $ref: '#/components/schemas/RiderCharge'
        maximumChronicIllnessBenefitPercentage:
          type: number
          description: The highest percentage of the death benefit or face amount that can be taken for chronic illness coverage
          example: 2.5
        maximumPeriodicPaymentPeriod:
          type: number
          description: The maximum duration over which payments can be made under the rider ( in Months)
        claimStatus:
          type: boolean
          description: The current status of a claim filed under the rider
        nextEvaluationDate:
          type: string
          format: date
          description: The date of the next scheduled review or re-evaluation of an ongoing claim (applicable for riders like chronic illness).
          example: '2023-01-01'
        riderPaymentDate:
          type: string
          format: date
          description: The date the benefit payout under the rider is to be disbursed to the policyholder or beneficiary
          example: '2023-01-01'
        terminalRiderPaymentAmount:
          type: number
          description: The amount paid under the rider benefit.(during a given payout cycle)
          example: 0
        riderMinimumPaymentAmount:
          type: number
          description: Deprecated - kept for backwards compatibility
          example: 0
        maximumCriticalIllnessBenefitPercentage:
          type: number
          description: The highest percentage of the policy’s face amount that can be accessed under the critical illness rider
          example: 0
        tierOneMaximumCriticalIllnessBenefitPercentage:
          type: number
          description: The percentage of the benefit payable under Tier 1 of the critical illness structure (e.g., for mild conditions).
          example: 0
        tierOneMaximumCriticalIllnessBenefitAmount:
          type: number
          description: The maximum dollar amount payable under Tier 1 benefits
          example: 0
        tierTwoMaximumCriticalIllnessBenefitPercentage:
          type: number
          description: The percentage of the benefit payable under Tier 2(usually for more severe conditions.)
          example: 0
        tierTwoMaximumCriticalIllnessBenefitAmount:
          type: number
          description: The maximum dollar amount payable under Tier 2 benefits.
          example: 0
        tierOneCriticalRiderPaymentDate:
          type: string
          format: date
          description: The date on which the Tier 1 critical illness rider benefit payment is scheduled or was made
          example: '2023-01-01'
        tierOneCriticalRiderPaymentAmount:
          type: number
          description: The amount of benefit paid under the Tier 1 critical illness
          example: 0
        tierTwoCriticalRiderPaymentDate:
          type: string
          format: date
          description: The date on which the Tier 2 critical illness rider benefit payment is scheduled or was made
          example: '2023-01-01'
        tierTwoCriticalRiderPaymentAmount:
          type: number
          description: The amount of benefit paid under the Tier 2 critical illness
          example: 0
        coverageLayers:
          type: array
          items:
            $ref: '#/components/schemas/RiderCoverageLayer'
        remainingBenefit:
          type: number
          format: double
          description: The remaining benefit amount for the rider. Incremented by Premiums and adjusted by withdrawals.
          example: 10.51
        additionalBenefitUsedUp:
          type: boolean
          description: Indicates whether the ADL benefit is utilised on the contract.
        totalBenefit:
          type: number
          format: double
          description: The total guaranteed value the contract owner is entitled to at the end of the GMAB holding period — assuming no disqualifying withdrawals or events.
          example: 5.17
        payoutOption:
          type: string
          enum:
          - SINGLE
          - JOINT
          description: Single or Joint Payout (not driven by Owners on the policy, even a jointly owned policy can have single as an option. Used in configuration to set different GMWB benefits for Single and Joint GMWB Amount Types
        benefitPercent:
          type: number
          format: double
          description: Ties to Withdrawal Reset Benefit % Annual Limit on Calender Processing if GMWB Anniversary Base reset is elected. Equals result of GMWB Benefit % equation box in Withdrawal tab (GMWB) Ku - Payout Factor  Percentage of the benefit base that will be available for withdrawal each year
          example: 1.23
        annualBenefitLimit:
          type: number
          format: double
          description: GMWB Annual Limit, The total amount that can be withdrawn as a benefit of this rider in any given policy year, regardless of whether or not there is sufficient account value. It is also the annual limit on amounts that can be withdrawn without adversely affecting future annual and lifetime benefits from the rider.this amount will be impacted during Reset or Withdrawals or Premium events
          example: 3.43
        currentAnnualLimit:
          type: number
          format: double
          description: ' GMWB Annual Limit, The total amount that can be withdrawn as a benefit of this rider in any given policy year, regardless of whether or not there is sufficient account value. It is also the annual limit on amounts that can be withdrawn without adversely affecting future annual and lifetime benefits from the rider.this amount will be impacted during Reset or Withdrawals or Premium events'
          example: 5.45
        remainingAnnualLimit:
          type: number
          format: double
          description: The GMWB amount still available for withdrawal in the current Contract Year without creating an "Excess Withdrawal" situation.
          example: 6.75
        hypotheticalAnnualLimit:
          type: number
          format: double
          description: During the riders accumulation phase (before it is exercised), a hypothetical annual withdrawal limit is calculated and displayed on statements to inform the policyholder and assist in their decision to exercise the rider
          example: 8.95
        phase:
          type: string
          enum:
          - ACCUMULATION
          - INCOME
          description: Indicator for whether the phase is Accumulation (not activated, benefit base is still accruing) or Income (annual limit calculated, benefit bases stop growing). Default value = Accumulation
        lastResetDate:
          type: string
          format: date
          description: User initiates the Reset, Variables product
          example: '2023-01-01'
        base:
          $ref: '#/components/schemas/Base'
    PolicyPartyRoles:
      type: object
      properties:
        partyRoleId:
          type: string
          example: '8'
          format: int32
          description: The Party Role ID is a unique identifier assigned to a specific role that a party (individual or entity) plays within an insurance or annuity contract. It serves to distinctly track and manage the relationship between the party and the contract, especially when a party may have multiple roles across different policies or within the same policy
        partyRole:
          $ref: '#/components/schemas/PartyRole'
        partyId:
          type: string
          example: Party_PI_1
          description: Party ID is a unique identifier assigned to a party (individual or entity) involved in an insurance or annuity contract. This identifier helps ensure accurate data exchange and tracking across insurance transactions
        relationshipToInsured:
          type: string
          enum:
          - TRUSTEE
          - TRUSTEEOFMINOR
          - TRUSTEEOFINCOMPETENT
          - POWEROFATTORNEY
          - CONTROLLINGPERSONOFENTITY
          - BROTHER
          - CHILD
          - DAUGHTER
          - DOMESTICPARTNER
          - EXECUTORS
          - FATHER
          - FIANCE
          - GRANDCHILD
          - LIFEPARTNER
          - MOTHER
          - SISTER
          - SON
          - SPOUSE
          - STEPFATHER
          - STEPMOTHER
          - SELF
          - LEGALGUARDIAN
          - BUSINESS
          - BUSINESSASSOCIATE
          - PARTNER
          - EMPLOYER
          - FORMERSPOUSE
          - GRANDPARENT
          - PARENT
          - OWNER
          - SIBLING
          - STEPCHILD
          - STEPARENT
          - OTHER
          - AUNT
          - GRANDFATHER
          - GRANDMOTHER
          - HUSBAND
          - WIFE
          - UNCLE
          - NIECE
          - NEPHEW
          - ESTATE
          - TRUST
          - GRANDSON
          - GRANDDAUGHTER
          - NONSPOUSE
          - CHILDRENEQUALLY
          - CHILDRENPERSTIRPES
          - PERSTIRPES
          - SURVIVINGSPOUS
          - COMORTGAGER
          - DEPENDENT
          description: The type of relationship to the party
        relationshipToParty:
          type: string
          enum:
          - TRUSTEE
          - TRUSTEEOFMINOR
          - TRUSTEEOFINCOMPETENT
          - POWEROFATTORNEY
          - CONTROLLINGPERSONOFENTITY
          - BROTHER
          - CHILD
          - DAUGHTER
          - DOMESTICPARTNER
          - EXECUTORS
          - FATHER
          - FIANCE
          - GRANDCHILD
          - LIFEPARTNER
          - MOTHER
          - SISTER
          - SON
          - SPOUSE
          - STEPFATHER
          - STEPMOTHER
          - SELF
          - LEGALGUARDIAN
          - BUSINESS
          - BUSINESSASSOCIATE
          - PARTNER
          - EMPLOYER
          - FORMERSPOUSE
          - GRANDPARENT
          - PARENT
          - OWNER
          - SIBLING
          - STEPCHILD
          - STEPARENT
          - OTHER
          - AUNT
          - GRANDFATHER
          - GRANDMOTHER
          - HUSBAND
          - WIFE
          - UNCLE
          - NIECE
          - NEPHEW
          - ESTATE
          - TRUST
          - GRANDSON
          - GRANDDAUGHTER
          - NONSPOUSE
          - CHILDRENEQUALLY
          - CHILDRENPERSTIRPES
          - PERSTIRPES
          - SURVIVINGSPOUS
          - COMORTGAGER
          - DEPENDENT
          description: The type of relationship to the party
        startDate:
          type: string
          format: date
          example: '2023-01-01'
          description: Date the Party was added to the Policy
        endDate:
          type: string
          format: date
          example: '2023-01-01'
          description: Date the Party was Terminated from the Policy
        preferredCommunicationType:
          $ref: '#/components/schemas/CommunicationType'
        preferredAddressId:
          type: string
          example: '1'
          description: Deprecated - kept for backward compatibility. Use preferredAddressId under party section. The Preferred Address ID refers to the unique identifier of the address designated as the primary or preferred address for a given party when multiple addresses are associated with that individual or entity. This ensures consistent use of the correct address for communication, correspondence, and recordkeeping
        preferredEmailId:
          type: string
          example: '1'
          description: Deprecated - kept for backward compatibility. Use preferredEmailId under party section. The Preferred Email ID refers to the unique identifier of the email address designated as the primary or preferred email contact for an individual or entity when multiple email addresses are on file
        preferredPhoneId:
          type: string
          example: '1'
          description: Deprecated - kept for backward compatibility. Use preferredPhoneId under party section. The Preferred Phone ID refers to the unique identifier of the phone number designated as the primary contact number for a given individual or entity when multiple phone numbers are associated with the same party
        isAddressSameAsOwner:
          type: boolean
          description: Boolean 0 = No 1 = Yes to denote if the email is the preferred
        lastContactDate:
          type: string
          example: '2023-01-01'
          description: Last Contact Date refers to the most recent date on which there was a direct or system-recorded interaction with a party (individual or entity) associated with a policy or contract. This party may be a policyholder, insured, beneficiary, payor, agent, or any other role relevant to life and annuity products.
          format: date
        beneficiaryShareMethod:
          type: string
          enum:
          - PERSTIRPESDISTRIBUTION
          description: Roles that are essential in structuring life insurance and annuity contracts to meet the financial goals of policyholders and beneficiaries.
        collateralAmount:
          type: number
          format: double
          description: The Collateral Amount of an Assignee refers to the portion of a life insurance policy's value or benefit that is pledged as collateral to a third party (the assignee) under a collateral assignment agreement. This is commonly used when a policyholder uses a life insurance policy as security for a loan or other financial obligation.
          example: 1023.21
        powerOfAttorneyAccessLevelType:
          $ref: '#/components/schemas/PowerOfAttorneyAccessLevelType'
        partyPercentage:
          type: number
          format: double
          description: Party Role Percentage refers to the proportion of ownership, benefits, or responsibility assigned to a party within an insurance or annuity contract. It is used to distribute policy ownership, benefit payouts, commission sharing, or annuity payments among multiple parties.
          example: 1023.21
    ArrangementSegmentAttributes:
      type: object
      properties:
        segmentId:
          type: string
        requestedAmount:
          type: string
      required:
      - segmentId
      - requestedAmount
    FundActivitySegment:
      type: object
      properties:
        segmentId:
          type: string
          description: A unique identifier assigned to a particular segment for a specific fund account within the investment structure
          example: segment1
        currentAmount:
          type: number
          description: The current value of the particular segment for a specific fund account within the investment structure. The current amount of the segment, considering any earnings, withdrawals, or adjustments due to transaction
          format: double
          example: 100
        segmentActivity:
          $ref: '#/components/schemas/SegmentActivity'
    PartyRiderParticipant:
      type: object
      properties:
        partyId:
          type: string
          description: A unique identifier assigned to the party insured within the system who was covered under this rider
          example: Party_PI_1
        partyAgeAtIssue:
          type: number
          format: int32
          description: The age of the insured at the time the rider was issued
          example: 50
        riskClass:
          type: string
          enum:
          - ULTRANONTOBACCO
          - ELITENONTOBACCO
          - PREFERREDNONTOBACCO
          - STANDARDNONTOBACCO
          - STANDARDTOBACCO
          - STANDARDAGGREGATE
          - SUBSTANDARDNONTOBACCO
          - SUBSTANDARDTOBACCO
          - STANDARDPLUSNONTOBACCO
          - PREFERREDTOBACCO
          - STANDARDCONVERSIONTOBACCO
          - STANDARDCONVERSIONNONTOBACCO
          description: The Risk Class refers to the underwriting category assigned to an applicant based on their health, lifestyle, and medical history, which determines their premium rates for a life insurance policy. Insurers use risk classifications to assess mortality risk and price policies accordingly.
        substandardRating:
          type: string
          enum:
          - TABLEA
          - TABLEB
          - TABLEC
          - TABLED
          - TABLEE
          - TABLEF
          - TABLEG
          - TABLEH
          - TABLEI
          - TABLEJ
          - TABLEK
          - TABLEL
          - TABLEM
          - TABLEN
          - TABLEO
          - TABLEP
          - NONETABLE
          description: A Substandard Rating (also called Table Rating) is assigned to applicants who do not qualify for Standard or Preferred risk classes due to health conditions, lifestyle risks, or medical history. This rating results in higher premium costs because the insured presents a greater mortality risk.
        flatExtra:
          type: array
          items:
            $ref: '#/components/schemas/FlatExtra'
    Identification:
      type: object
      properties:
        identificationId:
          type: string
          description: A unique system-generated ID for tracking individual identifier records
          example: '1'
        startDate:
          type: string
          description: The date from which the party`s identifier is considered valid. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        endDate:
          type: string
          description: The date after which the party`s identifier is no longer valid. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        identificationType:
          type:
          - string
          - 'null'
          enum:
          - PASSPORT
          - STATEPHOTOID
          - DRIVERLICENSENUMBER
          - SSN
          - TIN
          - EXTERNAL
          - EIN
          - NATIONALPRODUCERNUMBER
          - OTHER
          description: Specifies the kind of identifier provided for a party. It describes what type of document or number is being used to recognize or verify the party's identity
        identificationKey:
          type: string
          example: 666-50-8548
          description: A unique code (such as ECN, Life Party ID, or Series Code) used to uniquely identify and manage individuals, entities, or product groupings within life insurance and annuity systems
        identificationValue:
          type:
          - string
          - 'null'
          example: 666-50-8548
          description: The unique number of the selected identification type
        identificationDescription:
          type: string
          example: Employee Control Number
          description: A brief description of the identifier.
        issueState:
          type:
          - string
          - 'null'
          enum:
          - AA
          - AE
          - AL
          - AP
          - AK
          - AZ
          - AR
          - AS
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - GA
          - GU
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MP
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - PR
          - RI
          - SC
          - SD
          - TN
          - TX
          - UM
          - UT
          - VT
          - VA
          - VI
          - WA
          - WV
          - WI
          - WY
        issueCountry:
          type:
          - string
          - 'null'
          enum:
          - US
          - CA
          - RU
          - EG
          - ZA
          - GR
          - NL
          - BE
          - FR
          - ES
          - HU
          - IT
          - RO
          - CH
          - AT
          - GB
          - DK
          - SE
          - 'NO'
          - PL
          - DE
          - PE
          - MX
          - CU
          - AR
          - BR
          - CL
          - CO
          - VE
          - MY
          - AU
          - ID
          - PH
          - NZ
          - SG
          - TH
          - JP
          - VN
          - CN
          - TR
          - IN
          - PK
          - AF
          - LK
          - IR
          - MA
          - DZ
          - TN
          - LY
          - GM
          - SN
          - MR
          - ML
          - GN
          - BF
          - NE
          - TG
          - BJ
          - MU
          - LR
          - SL
          - GH
          - NG
          - CF
          - TD
          - CM
          - CV
          - ST
          - GQ
          - GA
          - BS
          - AO
          - BB
          - AX
          - SD
          - RW
          - ET
          - SO
          - DJ
          - KE
          - TZ
          - UG
          - BI
          - MZ
          - ZM
          - MG
          - RE
          - ZW
          - NA
          - MW
          - LS
          - BW
          - AG
          - KM
          - GW
          - CD
          - VG
          - SH
          - AW
          - FO
          - GL
          - KY
          - GI
          - PT
          - LU
          - IE
          - IS
          - AL
          - MT
          - CY
          - FI
          - BG
          - GG
          - LT
          - LV
          - EE
          - MD
          - AM
          - BY
          - AD
          - SM
          - UA
          - HR
          - SI
          - BA
          - MK
          - XK
          - CZ
          - SK
          - LI
          - BM
          - GD
          - FK
          - BZ
          - GT
          - SV
          - HN
          - NI
          - CR
          - PM
          - HT
          - PR
          - VI
          - GS
          - SX
          - BQ
          - GP
          - BO
          - GY
          - EC
          - GF
          - PY
          - MQ
          - SR
          - UY
          - AN
          - TC
          - BL
          - MF
          - MS
          - GU
          - AQ
          - BN
          - NR
          - PG
          - TO
          - SB
          - VU
          - FJ
          - WF
          - CK
          - NU
          - AS
          - KI
          - NC
          - TV
          - PF
          - MP
          - PW
          - MH
          - FM
          - SS
          - LC
          - DM
          - VC
          - DO
          - HK
          - MO
          - KH
          - LA
          - TT
          - KN
          - JM
          - BD
          - TW
          - MM
          - KR
          - KP
          - LB
          - JO
          - SY
          - IQ
          - KW
          - SA
          - OM
          - AE
          - IL
          - BH
          - QA
          - BT
          - NP
          - TJ
          - TM
          - AZ
          - GE
          - UZ
          - AI
          - PA
          - CI
          - ER
          - KZ
          - KG
          - CC
          - MN
          - BV
          - SC
          - IO
          - WS
          - TL
          - TF
          - YT
          - PN
          - SJ
          - TK
          - UM
          - EH
          - MV
          - CX
          - NF
          - CG
          - MC
          - VA
          - SZ
          - PS
          - JE
          - IM
          - RS
          - ME
          - HM
          - CW
          - CS
          - YE
          - YD
          - SU
          - YU
          - ZR
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2023-01-01T12:00:00.000Z'
        message:
          type: string
    PayoutInformation:
      type: object
      properties:
        payoutType:
          $ref: '#/components/schemas/PayoutType'
    LapseProtectionAttributes:
      type: object
      properties:
        startDate:
          type: string
          example: '2022-01-01'
          description: Start Date
        endDate:
          type: string
          example: '2022-12-31'
          description: End Date
        monthlyPayment:
          type: string
          example: '20'
          description: Monthly Payment
        cumulativePayment:
          type: string
          example: '120'
          description: Cumulative Payment
        guaranteedPeriod:
          type: string
          example: '24'
          description: Guaranteed Period
      required:
      - startDate
      - endDate
      - monthlyPayment
      - cumulativePayment
      - guaranteedPeriod
    ArrangementFinancialActivityAttributes:
      type: object
      properties:
        interestPostingRate:
          type: string
        amount:
          type: string
      required:
      - interestPostingRate
      - amount
    PartyStatus:
      type: string
      enum:
      - APPROVED
      - NOTAPPROVED
      - PROCESSED
    Status:
      type: string
      enum:
      - ACTIVE
      - TERMINATED
      - PENDING
      - SUSPENDED
    LoanInterestType:
      type: string
      enum:
      - FIXED
      - INDEXED
      - VARIABLE
      - ADJUSTABLE
    DisbursementType:
      type: string
      enum:
      - GROSS
      - NET
      - NETNET
    Withdrawal:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/WithdrawalAttributes'
      required:
      - attributes
    RiderCoverageLayer:
      type: object
      properties:
        coverageId:
          type: string
          description: The Coverage ID is a unique identifier assigned to a specific coverage type or benefit within an insurance policy. It helps insurance companies, agents, and policyholders track and differentiate multiple coverage components within a single policy.
          example: Base_Coverage
        coverageType:
          type: string
          enum:
          - BASE
          - RIDER
          - BASEINCREASE
          - INTEGRATEDRIDER
          - RIDERINCREASE
          - BENEFIT
          - DISCOUNT
          - OTHER
          - UNKNOWN
          description: The type of rider denoting if benefit is applicable to base coverage or a distinct  coverage or addition to base coverage or a benefit without any coverage
        coverageName:
          type: string
          description: The Coverage Name in a life insurance policy refers to the specific title or label assigned to a coverage type within the policy contract. It helps insurers, agents, and policyholders identify, classify, and manage different coverage components in a policy.
          example: Base_Coverage
        productCode:
          type: string
          description: The Plan Code is a carrier-assigned alphanumeric identifier used to uniquely distinguish a specific insurance or annuity product, rate structure, version, and coverage layer within an insurer's portfolio. It is essential for policy administration, pricing, underwriting, and claims processing.
          example: EVGL1
        coverageTerm:
          type: number
          format: int32
          description: Coverage Term refers to the number of years that a life insurance policy or specific coverage component is intended to remain in force, providing protection to the insured. It defines the planned duration of insurance coverage, after which the coverage may expire, renew, or convert, depending on the product type.
          example: 1
        approvedCoverageAmount:
          type: number
          format: double
          description: The Approved Coverage Amount refers to the specific amount of insurance coverage that has been approved by the insurer during the underwriting process. It represents the face amount (death benefit) the insurer has agreed to issue based on the applicant's risk profile, health, and other underwriting criteria.
          example: 10000
        currentAmount:
          type: number
          format: double
          description: The Current Coverage Amount refers to the active or present death benefit or coverage value available under the policy at a specific point in time. It reflects any adjustments, policy changes, withdrawals, or loans that may have altered the original coverage amount.
          example: 300000
        originalCoverageAmount:
          type: number
          format: double
          description: The Original Coverage Amount refers to the initial face value or death benefit of a policy at the time of issuance before any policy modifications, withdrawals, loans, or benefit reductions. It represents the starting coverage amount agreed upon when the policy was first issued.
          example: 300000
        minimumCoverageAmount:
          type: number
          format: double
          description: The Minimum Coverage Amount at Each Coverage Level refers to the lowest permissible amount of insurance coverage allowed per policy layer, as set by the insurance carrier. It ensures policies remain financially viable and comply with regulatory and underwriting standards.
          example: 10000
        maximumCoverageAmount:
          type: number
          format: double
          description: 'The Maximum Coverage Amount at Each Coverage Level refers to the highest permissible amount of insurance coverage allowed per policy layer, as set by the insurance carrier. '
          example: 10000000
        grossDeathBenefitAmount:
          type: number
          format: double
          description: The Gross Death Benefit per Coverage Layer refers to the total pre-deduction death benefit amount assigned to each specific coverage layer within a policy. It represents the sum of all base coverage amounts, riders, and enhancements before applying policy adjustments such as loans, withdrawals, or unpaid premiums.
          example: 300000
        lowDeathBenefitAmount:
          type: number
          format: double
          description: Low Death Benefit refers to the lowest possible death benefit guaranteed within each specific coverage component of a policy. This ensures that beneficiaries receive at least a minimum death benefit regardless of market performance, policy changes, or withdrawals.
          example: 300000
        coverageChangeAmount:
          type: number
          format: double
          description: The Coverage Change Amount refers to the specific increase or decrease in coverage that occurs within a life insurance policy due to policyholder requests, automatic adjustments, or insurer-initiated changes. This amount reflects the difference between the original or prior coverage amount and the new coverage amount after the change takes effect.
          example: 3000000
        coverageEffectiveDate:
          type: string
          format: date
          description: The Coverage Effective Date refers to the date when an increase in coverage or a new coverage component officially takes effect in a life insurance policy. It marks the beginning of the insured’s eligibility for the new or increased benefits.
          example: '2023-01-01'
        coverageChangeEffectiveDate:
          type: string
          format: date
          description: The Coverage Change Effective Date (for a decrease in coverage) refers to the date when the reduced coverage amount officially takes effect in a life insurance policy. It marks the point from which the new lower coverage amount applies.
          example: '2023-01-01'
        coverageTerminationDate:
          type: string
          format: date
          description: The Coverage Termination Date refers to the date when a policy's coverage officially ends, meaning the insured is no longer protected under the contract. After this date, no benefits or claims can be paid unless reinstatement is an option.
          example: '2023-01-01'
        unitOfCoverage:
          type: number
          format: double
          description: 'The Unit of Coverage refers to the measurement standard used to define the amount of coverage provided under a life insurance policy. It helps insurers calculate premiums, determine benefit payouts, and structure policies consistently.In life insurance, the unit of coverage is typically measured per $1,000 of face amount. '
          example: 300
        valuePerUnitOfCoverage:
          type: number
          format: double
          description: The Value per Unit of Coverage refers to the monetary worth of each unit of coverage in a life insurance policy, which is used for premium calculations, benefit payouts, and policy adjustments. This value helps insurers standardize pricing and policy structures.In life insurance, the value per unit represents the cost per $1,000 of coverage or payout per unit of death benefit.In annuities, it determines the payout per annuity unit or per $1,000 of account value.
          example: 1000
        guidelineSinglePremium:
          type: number
          format: double
          description: The Guideline Single Premium (GSP) is the maximum single premium payment that can be made into a life insurance policy without causing it to lose its tax-advantaged status as life insurance under IRS guidelines. It is determined based on IRS regulations and ensures that the policy remains compliant with Section 7702 of the Internal Revenue Code.
          example: 65068.27
        guidelineLevelPremium:
          type: number
          format: double
          description: The Guideline Level Premium (GLP) is the maximum total premium that can be paid over time into a life insurance policy without violating IRS regulations under Section 7702. It ensures that a policy retains its tax-advantaged status as life insurance and does not become classified as a Modified Endowment Contract (MEC).
          example: 4695.39
        sevenPayPremium:
          type: number
          format: double
          description: The 7-Pay Premium refers to the maximum cumulative premium that can be paid into a life insurance policy during the first seven years without causing the policy to become a Modified Endowment Contract (MEC). It is part of the 7-Pay Test, which ensures that life insurance policies do not become overfunded and lose their tax advantages.
          example: 19807.51
        modalPremium:
          type: number
          format: double
          description: Modal Premium refers to the actual premium amount a policyholder pays based on the selected billing frequency (mode)—such as monthly, quarterly, semiannual, or annual. It represents the current periodic payment due for the base coverage and any attached riders under a life or annuity insurance policy.
          example: 1000
        cumulativeModalPremium:
          type: number
          format: double
          description: Cumulative Modal Premium refers to the sum of actual premium amount a policyholder pays based on the selected billing frequency (mode)—such as monthly, quarterly, semiannual, or annual. It represents the sum of current periodic payment due for the base coverage and any attached riders under a life or annuity insurance policy.
          example: 1000
        coverageTargetPremium:
          type: number
          format: double
          description: Coverage Target Premium refers to the designated premium amount on a life insurance policy that:Qualifies for full target-level commissions in the first policy year, and Forms the basis for renewal commissions in subsequent policy years.Note - This is modal premium value
          example: 300000
        annualPremium:
          type: number
          format: double
          description: The annual premium is the total amount you would pay for a full year of life insurance or annuity if you made just one payment per year.
          example: 1000
        overdueModalPremium:
          type: number
          format: double
          description: refers to a scheduled premium payment that was not received or applied by its due date, based on the policy’s modal frequency (e.g., monthly, quarterly, semi-annual, or annual). It represents a missed payment obligation that remains outstanding and may trigger administrative or policy-level actions
          example: 1000
    DistributionCode:
      type: string
      enum:
      - DEFAULT
      - PREMATUREDISTRIBUTION
      - EXCEPTIONAPPLIES
      - DISABILITY
      - DEATH
      - DEATHEXCLUSION
      - DEATHROLLOVER
      - EXCHANGE1035
      - NORMALDISTRIBUTION
      - COSTOFCURRENTLIFEINSURANCEPROTECTION
      - QUALIFIEDROLLOVER
      - ROTHDISTRIBUTIONNOEXCEPTION
      - QUALIFIEDLOANDISTRIBUTION
      - PREMATURELOANDISTRIBUTION
      - QUALIFIEDROTHINDIVIDUALRETIREMENTARRANGEMENTDISTRIBUTION
      - ROTHINDIVIDUALRETIREMENTACCOUNTSDISTRIBUTIONEXCEPTIONAPPLIES
      - EXCESSCONTRIBUTIONSPLUSEARNINGSEXCESSDEFERRALSTAXABLEIN2009
      - NONTAXABLEEVENT
      - GROSSPAIDTOATTORNEY
      - OTHERINCOME
      - NONEMPLOYEECOMPENSATION
      - PREMATUREEXCEPTION
      - ROYALTIES
      - DEATHTRANSFER4H
      - PROHIBITEDTRANSACTION
      - TENYEARTAXOPTION
      - TRUSTEETOTRUSTEETRANSFER
      - QUALIFIEDDOMESTICRELATIONSORDERLIKETOLIKENO1099
      - DISTRIBUTIONSUNDEREMPLOYEEPLANSCOMPLIANCERESOLUTIONSYSTEM
      - CHARITABLEGIFT
      - LOANSASDISTRIBUTIONS
      - QUALIFIEDPLANLOANOFFSET
      - RECHARACTERIZEDINDIVIDUALRETIREMENTARRANGEMENTCURRENTYEAR
      - EXCESSCONTRIBUTION1YEARPRIORTAX
      - RECHARACTERIZEDINDIVIDUALRETIREMENTACCOUNTSPREVIOUSYEAR
      - EARLYDISTRIBUTIONFROMSAVINGSINCENTIVEMATCHPLANFOREMPLOYEES
      - DIRECTTRANSFER
      - EXCESSCONTRIBUTIONSPLUSEARNINGSEXCESSDEFERRALSANDOREARNINGSTAXABLEIN2024
      - EXCESSCONTRIBUTIONS2YEARPRIORTAX
      - DIRECTROLLOVERQUALPLANTAXSHELTEREDANNUITY
      - SEPARATIONFROMSERVICE
      - INDIVIDUALRETIREMENTARRANGEMENTTOROTHINDIVIDUALRETIREMENTARRANGEMENT
      - QUALIFIEDDOMESTICRELATIONSORDERROLLOVERTOINDIVIDUALRETIREMENTARRANGEMENT2G
      - QUALIFIEDDOMESTICRELATIONSORDERPAYMENTTOSPOUSE
      - FIRSTTIMEHOMEBUYERINDIVIDUALRETIREMENTARRANGEMENTONLY
      - EDUCATIONEXPENSE
      - MEDICALEXPENSE
      - FEEADMIN
      - FEEASSET
      - FEECONTRIBUTION
      - FEELUMPSUMDEATH
      - FEELUMPSUMDISABILITY
      - FEELUMPSUMPURCHASEDANNUITY
      - FEELUMPSUMOTHER
      - FEENEWRETIREEWITHPERPAYMENT
      - FEEEXISTINGRETIREMENTINFORCE
      - FEECONTRACT
      - FEEEXISTINGRETIREMENTINCREASE
      - FEETHIRDPARTY
      - LUMPSUMDEATH
      - LUMPSUMDISABILITY
      - LUMPSUMPURCHASEDANNUITY
      - LUMPSUMOTHER
      - FEEINTERNATIONALPROGRAMSGROUPEXPENSE
      - FROMFUND
      - RELEASERESERVE
      - HEALTHDEDUCTION
      - FEEMARKETVALUE
      - FEEANNUITYADMINISTRATION
      - SECTION1035EXCHANGEPARTIAL
      - QUALIFIEDDOMESTICRELATIONSORDERNORMALDISTRIBUTION
      - QUALIFIEDDOMESTICRELATIONSORDERSECTION1035
      - FEELONGTERMCAREINSURANCE
      - DESIGNATEDROTHACCOUNTDISTRIBUTION
      - REPORTABLEDEATHBENEFITSUNDERSECTION6050Y
      - DISTRIBUTIONOFTRADITIONALINDIVIDUALRETIREMENTARRANGEMENTASSETSNOTHAVINGAREADILYAVAILABLEFAIRMARKETVALUE
      - DIVIDENDSDISTRIBUTEDFROMANEMPLOYEESTOCKOWNERSHIPPLANSUNDERSECTION404K
      - DIRECTROLLOVEROFADESIGNATEDROTHACCOUNT
      - DEATHQUALIFIEDCHARITABLEDISTRIBUTION
      - NORMALQUALIFIEDCHARITABLEDISTRIBUTION
    CoveragesAttributes:
      type: object
      properties:
        coverageId:
          type: string
          example: COV123
          description: Coverage ID
        indicatorCode:
          type: string
          example: IND123
          description: Indicator Code
        productCode:
          type: string
          example: PROD456
          description: Product Code
        planName:
          type: string
          example: Platinum Plan
          description: The Product Name refers to the specific life insurance or annuity product selected by the contract owner at the time of policy issuance. It identifies the type of coverage, policy structure, and key features associated with the contract
        selectionIndicator:
          type: string
          example: Y
          enum:
          - Y
          - N
          description: Selection Indicator
        currentAmount:
          type: string
          example: '20000'
          description: Current Amount
        priorCoverageAmount:
          type: string
          example: '18000'
          description: Prior Coverage Amount
        minimumBenefitAmount:
          type: string
          example: '15000'
          description: Minimum Benefit Amount
        maximumBenefitAmount:
          type: string
          example: '25000'
          description: Maximum Benefit Amount
        grossDeathBenefitAmount:
          type: string
          example: '5000'
          description: Gross Death Benefit Amount
        lowDeathBenefit:
          type: string
          example: '2000'
          description: Low Death Benefit
        coverageChangeAmount:
          type: string
          example: '3000'
          description: Coverage Change Amount
        effectiveDate:
          type: string
          example: '2022-01-01'
          description: Effective Date
        coverageChangeEffectiveDate:
          type: string
          example: '2021-12-01'
          description: Coverage Change Effective Date
        terminationDate:
          type: string
          example: '2022-12-31'
          description: Termination Date
        currentNumberOfUnits:
          type: string
          example: '100'
          description: Current Number of Units
        valuePerUnit:
          type: string
          example: '50'
          description: Value Per Unit
        premiumModalFactor:
          type: string
          example: '1.5'
          description: Premium Modal Factor
        exerciseDate:
          type: string
          example: '2023-03-15'
          description: Exercise Date
        lifeCoverageStatus:
          type: string
          example: Active
          description: Life Coverage Status
        claimStatus:
          type: string
          example: Pending
          description: The Claim Status refers to the current stage of a life insurance claim, indicating whether the claim has been processed, approved, denied, or is still under review. This status helps policyholders, beneficiaries, and insurers track the progress of a claim from submission to payout
        nextEvaluationDate:
          type: string
          example: '2023-12-01'
          description: Next Evaluation Date
        paymentMode:
          type: string
          example: Monthly
          description: Payment Mode
        maximumBenefitPercent:
          type: string
          example: 80%
          description: Maximum Benefit Percent
        maximumPayPeriod:
          type: string
          example: '365'
          description: Maximum Pay Period
        guidelineSinglePremium:
          type: string
          example: '5000'
          description: The Guideline Single Premium (GSP) refers to the maximum single premium payment that can be made into a life insurance policy without violating the IRS`s Guideline Premium Test (GPT). It is used to ensure that the policy qualifies as life insurance and maintains its tax-advantaged status
        guidelineAnnualPremium:
          type: string
          example: '2000'
          description: Guideline Annual Premium
        sevenPayPremium:
          type: string
          example: '700'
          description: The 7-Pay Premium refers to the maximum allowable premium that can be paid into a life insurance policy during the first seven years without triggering Modified Endowment Contract (MEC) status. It ensures that the policy remains a tax-advantaged life insurance contract rather than an investment vehicle
        coverageReferenceId:
          type: string
          example: REF456
          description: Coverage Reference ID
        tier1MaximumBenefitAmount:
          type: string
          example: '10000'
          description: Tier 1 Maximum Benefit Amount
        tier1MaximumBenefitPercent:
          type: string
          example: 60%
          description: Tier 1 Maximum Benefit Percent
        tier2MaximumBenefitAmount:
          type: string
          example: '15000'
          description: Tier 2 Maximum Benefit Amount
        tier2MaximumBenefitPercent:
          type: string
          example: 70%
          description: Tier 2 Maximum Benefit Percent
      required:
      - coverageId
      - indicatorCode
      - productCode
      - planName
      - currentAmount
      - priorCoverageAmount
      - minimumBenefitAmount
      - maximumBenefitAmount
      - grossDeathBenefitAmount
      - lowDeathBenefit
      - coverageChangeAmount
      - effectiveDate
      - coverageChangeEffectiveDate
      - terminationDate
      - currentNumberOfUnits
      - valuePerUnit
      - premiumModalFactor
      - exerciseDate
      - lifeCoverageStatus
      - claimStatus
      - nextEvaluationDate
      - paymentMode
      - maximumBenefitPercent
      - maximumPayPeriod
      - guidelineSinglePremium
      - guidelineAnnualPremium
      - sevenPayPremium
      - coverageReferenceId
      - tier1MaximumBenefitAmount
      - tier1MaximumBenefitPercent
      - tier2MaximumBenefitAmount
      - tier2MaximumBenefitPercent
    TaxRateToUse:
      type: string
      enum:
      - NOWITHHOLDINGELECTED
      - USEVALUESENTERED
      - NOWITHHOLDINGALLOWED
      - USEDEFAULTTABLE
      - ADDITIONALWITHHOLDING
      - TAKEINPUTTEDVALUE
    DeathClaimTransactionAmounts:
      type: object
      properties:
        claimStatutoryInterestAmount:
          type: number
          example: 90
          description: The statutory interest amount paid as part of a claim settlement. This is the SSI amount
          format: double
        deathBenefitInterestCalculatedFromDate:
          $ref: '#/components/schemas/DeathBenefitInterestCalculatedFromDate'
        claimStatutoryInterestRate:
          type: number
          example: 10
          format: double
          description: The state specific interest rate applied to the statutory claim payout
        distributionCode:
          $ref: '#/components/schemas/DistributionCode'
        accountNumber:
          type: string
          example: '123456789'
          description: The unique identifier representing the policy or account associated with the transaction for DTCC money movement.
        participantId:
          type: string
          example: DTCC12345
          description: The DTCC Participant ID (also known as DTCC Number or Participant Number) assigned by DTCC to financial institutions.
    MatchActivity:
      type: object
      properties:
        currentAmount:
          type: number
          description: This is total value of bonus or match post transaction processing including interest. This value will be populated on transaction which impacts bonus calculations. For e.g. premium, match bonus vesting
          example: 100
        segmentActivity:
          $ref: '#/components/schemas/SegmentActivity'
    TransactionFundAllocation:
      type: object
      properties:
        allocationOption:
          $ref: '#/components/schemas/AllocationOption'
    ArrangementsAttributes:
      type: object
      properties:
        arrangementId:
          type: string
        arrangementType:
          type: string
        arrangementMode:
          type: string
        paymentForm:
          type: string
        numberOfModalOccurences:
          type: string
        requestedAmount:
          type: string
        appliedAmount:
          type: string
        calculatedAmount:
          type: string
        taxableGainAmount:
          type: string
        loanType:
          type: string
        loanInterestType:
          type: string
        loanPaymentType:
          type: string
        disbursementType:
          type: string
        sourceTransferAmountType:
          type: string
        requestedPercent:
          type: string
        requestedDate:
          type: string
        effectiveDate:
          type: string
        totalChargeAmount:
          type: string
        arrStatus:
          type: string
        startDate:
          type: string
        reason:
          type: string
        nextActivityDate:
          type: string
        lastActivityDate:
          type: string
        endDate:
          type: string
        valueAdjustmentFundId:
          type: string
        valueAdjustmentCoverageId:
          type: string
        valueAdjustmentPriorAmount:
          type: string
        valueAdjustmentSegmentId:
          type: string
      required:
      - arrangementId
      - arrangementType
      - arrangementMode
      - paymentForm
      - numberOfModalOccurences
      - requestedAmount
      - appliedAmount
      - calculatedAmount
      - taxableGainAmount
      - loanType
      - loanInterestType
      - loanPaymentType
      - disbursementType
      - sourceTransferAmountType
      - requestedPercent
      - requestedDate
      - effectiveDate
      - totalChargeAmount
      - arrStatus
      - startDate
      - reason
      - nextActivityDate
      - lastActivityDate
      - endDate
      - valueAdjustmentFundId
      - valueAdjustmentCoverageId
      - valueAdjustmentPriorAmount
      - valueAdjustmentSegmentId
    TaxWithholdingType:
      type: string
      enum:
      - FEDERAL
      - STATE
      - NRA
      - BACKUP
    Coverages:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/CoveragesAttributes'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
        fees:
          type: array
          items:
            $ref: '#/components/schemas/Fee'
      required:
      - attributes
      - participants
      - fees
    DeathBenefitOptionType:
      type: string
      enum:
      - LEVEL
      - INCREASING
    RiskClass:
      type: string
      enum:
      - ULTRANONTOBACCO
      - ELITENONTOBACCO
      - PREFERREDNONTOBACCO
      - STANDARDNONTOBACCO
      - STANDARDTOBACCO
      - STANDARDAGGREGATE
      - SUBSTANDARDNONTOBACCO
      - SUBSTANDARDTOBACCO
      - STANDARDPLUSNONTOBACCO
      - PREFERREDTOBACCO
      - STANDARDCONVERSIONTOBACCO
      - STANDARDCONVERSIONNONTOBACCO
    FeeAttributes:
      type: object
      properties:
        feeType:
          type: string
          example: Admin Fee
          description: Fee Type
        feeAmount:
          type: string
          example: '50'
          description: Fee Amount
        startDate:
          type: string
          example: '2022-01-01'
          description: Start Date
        effectiveRate:
          type: string
          example: 5%
          enum:
          - 5%
          - 10%
          - 15%
          description: Effective Rate
        feeWaivedIndicator:
          type: string
          example: Y
          enum:
          - Y
          - N
          description: Fee Waived Indicator
      required:
      - feeType
      - feeAmount
      - startDate
    MatchSegmentFinancialActivityAttributes:
      type: object
      properties:
        interestPostingRate:
          type: string
        amount:
          type: string
      required:
      - interestPostingRate
      - amount
    FundAllocations:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/FundAllocationsAttributes'
      required:
      - attributes
    Distribution:
      type: object
      properties:
        investmentType:
          $ref: '#/components/schemas/InvestmentType'
        modelName:
          type: string
          description: Elect from available .. If Owner picks and Model as an investment option
          example: TBD
        modelId:
          type: string
          description: The corresponding Model Id of the elected model
          example: TBD
        fundAllocationsInvestments:
          type: array
          items:
            $ref: '#/components/schemas/FundAllocation'
        funds:
          type: array
          items:
            $ref: '#/components/schemas/Fund'
        matchSegment:
          $ref: '#/components/schemas/MatchSegment'
        loanSegments:
          type: array
          items:
            $ref: '#/components/schemas/LoanSegment'
        surplusDistributions:
          type: array
          items:
            $ref: '#/components/schemas/AllocationSurplusDistribution'
    TaxWithholdingInstructions:
      type: object
      properties:
        partyId:
          type: string
          description: A unique identifier linking the party to the policy
          example: Party_PI_1
        partyRole:
          type: string
          enum:
          - OWNER
          - PRIMARYBENEFICIARY
          - CONTINGENTBENEFICIARY
          - INSURED
          - PAYOR
          - PAYEE
          - AGENT
          - PRIMARYWRITINGAGENT
          - PRIMARYSERVICINGAGENT
          - ADDITIONALSERVICINGAGENT
          - ADDITIONALWRITINGAGENT
          - THIRDPARTYDESIGNEE
          - JOINTOWNER
          - COVERAGEINSURED
          - ASSIGNEE
          - ANNUITANT
          - EXCHANGECOMPANY
          - JOINTANNUITANT
          - GRANTOR
          - TRUSTEE
          - POWEROFATTORNEY
          - AUTHORIZEDSIGNATORY
          - OTHERINTERESTEDPARTY
          - CONTINGENTOWNER
          - THIRDPARTYADMINISTRATOR
          - CARRIER
          - SUCCESSORTRUSTEE
          - COVERAGEJOINTINSURED
          description: Roles that are essential in structuring life insurance and annuity contracts to meet the financial goals of policyholders and beneficiaries
        taxWithholdingType:
          $ref: '#/components/schemas/TaxWithholdingType'
        taxRateToUse:
          $ref: '#/components/schemas/TaxRateToUse'
        filingStatus:
          $ref: '#/components/schemas/FilingStatus'
        dollar:
          type: number
          description: The amount portion of the taxable transaction amount to be withheld
          example: 10
          format: double
        percentage:
          type: number
          description: The percentage of the taxable transaction amount to be withheld
          example: 50
          format: double
        exemptions:
          type: number
          description: The number of exemptions claimed for tax withholding within a tax year
          example: 0
          format: int32
        taxJurisdiction:
          type: string
          description: The legal tax authority (state or federal) governing the withholding process
          example: USA_WY
        contribution:
          type: string
          enum:
          - NOTAPPLICABLE
          - EMPLOYEEVOLUNTARY
          - EMPLOYEEDISCRETIONARY
          description: Not applicable, Employee Voluntary and Employee Discretionary
        taxFormType:
          type: string
          enum:
          - T1035COSTBASIS
          - T1035LOANTRANSFER
          - T1035SURRENDER
          - T1035TAXADVANTAGE
          - T1099R
          - TAXDISCLOSUREFORMW4P
          - TAXDISCLOSUREFORMW8
          - USW4TAXFORM
          - W9
          - VOIDCHECK
          description: The Tax Form Type refers to the specific IRS or government form used as the basis for determining an individual’s or entity’s tax withholding status on financial products such as life insurance policies, annuities, or investment accounts
        w4p:
          $ref: '#/components/schemas/W4P'
    Phone:
      type: object
      properties:
        startDate:
          type: string
          description: The start date of when the party can be reached via the phone.Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        endDate:
          type: string
          description: The end date of when the party can be reached via the phone. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        phoneType:
          $ref: '#/components/schemas/PhoneType'
        countryCode:
          type: string
          description: Country Code of the phone
          example: '9'
        areaCode:
          type: string
          description: Area code of the phone
          example: '973'
        dialNumber:
          type: string
          description: Dial number of the phone
          example: '765789'
        extension:
          type: string
          description: Dial in Extension for phone
          example: 'null'
        bestTime:
          type: string
          description: The best time to contact the party via phone
          example: 'null'
        timezone:
          type: string
          description: Timezone for the entered phone details
          example: 'null'
        isPreferred:
          type: boolean
          description: The Preferred Phone Indicator is a boolean flag or attribute assigned to each phone number associated with a party, used to identify which phone number should be used as the primary contact number for communication
        phoneId:
          type: string
          description: The record Id stored internally in zahara for each phone
          example: '1'
    PhoneType:
      type: string
      enum:
      - MOBILE
      - HOME
      - BUSINESS
      - CLAIMCENTER
      - CUSTOMERSERVICE
      - CORPORATEOFFICE
      - FAX
      - UNKNOWN
      - OTHER
    Insured:
      type: object
      properties:
        existingLifeInsurance:
          type: boolean
          description: Any existing life insurance details of the insured
        existingLifeInsuranceAmount:
          type: number
          format: double
          example: 0
          description: The existing life insurance amount of the insured
        replaceLifeInsurance:
          type: boolean
          description: Any life insurance replacement details of the insured
        pendingOrPlanToBuyAdditional:
          type: boolean
          description: Any details of pending or plan to buy additional life insurance of the insured
        isDependent:
          type: boolean
          description: Any dependent details of the insured
        employed:
          type: boolean
          description: Any employment details of the insured
        employmentStatus:
          $ref: '#/components/schemas/EmploymentStatus'
        occupation:
          type: string
          description: Occupation of the insured
          example: Salesman
        householdIncome:
          type: number
          format: double
          description: Household income of the insured
          example: 50000
        deathDetails:
          $ref: '#/components/schemas/DeathDetail'
        impairmentDetails:
          $ref: '#/components/schemas/ImpairmentDetails'
    TaxWithheldAmount:
      type: object
      properties:
        partyRole:
          $ref: '#/components/schemas/PartyRole'
        partyId:
          type: string
          example: Party_PI_1
          description: A unique identifier linking the party to the policy
        taxWithholdingType:
          $ref: '#/components/schemas/TaxWithholdingType'
        withheldAmount:
          type: number
          format: double
          example: 100
          description: The actual dollar amount withheld for taxes
        withheldTaxableAmount:
          type: number
          format: double
          example: 100
          description: The portion of the transaction amount eligible for taxation
        taxableFlag:
          type: boolean
          description: Indicates whether the transaction is taxable
        appliedTaxRate:
          type: number
          format: double
          example: 100
          description: The actual tax rate used for withholding calculations
    Parties:
      type: object
      properties:
        partyType:
          $ref: '#/components/schemas/PartyType'
        partyRoleId:
          type: string
          description: TBD
        parentPartyId:
          type: string
          description: 'The Parent Party ID is a unique identifier used to establish a hierarchical or relational link between multiple related parties within a life insurance or annuity contract. It is particularly useful in complex ownership or beneficiary structures, such as: Trust-owned policies, Multiple contingent beneficiaries linked to a single primary beneficiary, Parties acting in legal or fiduciary roles (e.g., grantors, trustees, custodians)'
          example: '1'
        beneficiaryPercentage:
          type: number
          description: Deprecated - kept for backward compatibility; instead use partyPercentage. The benefit percentage of the beneficiary
          example: 100
          format: double
        agentPercentage:
          type: number
          format: double
          description: Deprecated - kept for backward compatibility; instead use partyPercentage. Commission percentage for each agent
          example: 100
        agentExternalId:
          type: string
          description: The Id which user enters(Id validated in MCS) - Agent External ID and Compnay ID uniquely identifies the right Agent
          example: '3160000751'
        agentType:
          $ref: '#/components/schemas/AgentType'
        firstName:
          type: string
          description: The first name of the party/trustee
          example: Karen
        middleName:
          type: string
          description: The middle name of the party/trustee
          example: Anne
        lastName:
          type: string
          description: The last name of the party/trustee
          example: Bates
        fullName:
          type: string
          description: The full name of the party/The legal name of the Trust/Organization
          example: Karen Anne Bates
        prefix:
          $ref: '#/components/schemas/Prefix'
        suffix:
          type: string
          enum:
          - JR
          - SN
          - SR
          - I
          - II
          - III
          - IV
          - V
          - VI
          - VII
          description: The suffix of the party name
        gender:
          $ref: '#/components/schemas/Gender'
        dateOfBirth:
          type: string
          description: The date of birth of the party
          format: date
          example: '2023-01-01'
        genderIdentity:
          type: string
          description: Gender Identity refers to an individual's self-identified internal sense of gender, which may differ from their sex assigned at birth. This value reflects how the individual personally defines their gender and may be expressed in free-text to allow for inclusivity and accuracy
          example: TBD
        attainedAge:
          type: integer
          description: Age calculated by date of birth and Policy year
          format: int32
          example: 55
        birthCountry:
          $ref: '#/components/schemas/Country'
        citizenCountry:
          $ref: '#/components/schemas/Country'
        birthState:
          $ref: '#/components/schemas/State'
        doingBusinessAs:
          type: string
          description: The name the organization is commonly known as
          example: TBD
        abbreviatedName:
          type: string
          description: The shortened/abbreviated version of the organization`s name that is unique to the organization
          example: TBD
        organizationCode:
          type: string
          description: Code to Identify organization
          example: TBD
        entityType:
          $ref: '#/components/schemas/EntityType'
        trustDate:
          type: string
          description: The trust agreement issued date to the party
          format: date
          example: '2023-01-01'
        amendedTrustDate:
          type: string
          description: The Amended Trust Date refers to the most recent date on which the trust agreement was formally amended or restated, particularly when the trust is designated as the owner or beneficiary of a life insurance or annuity policy
          format: date
          example: '2023-01-01'
        governingStateOfTrust:
          $ref: '#/components/schemas/State'
        trustType:
          $ref: '#/components/schemas/TrustType'
        trustTitle:
          type: string
          description: The title of the trustee
          example: TBD
        trustAccessCode:
          type: string
          description: Access code of the trustee
          example: TBD
        preferredCommunicationType:
          $ref: '#/components/schemas/PreferredCommunicationType'
        preferredAddressIndicator:
          type: string
          description: Deprecated - kept for backward compatibility; instead use preferredAddressIndicator under Address section
          example: '1'
        preferredAddressId:
          type: string
          description: The Preferred Address ID refers to the unique identifier of the address designated as the primary or preferred address for a given party when multiple addresses are associated with that individual or entity. This ensures consistent use of the correct address for communication, correspondence, and recordkeeping
          example: '1'
        preferredEmailId:
[...]
