openapi: 3.2.0
info:
  title: Policy Service Overview API
  description: Enterprise level policy service
  version: 0.0.21
  contact: {}
servers:
- url: https://api.zinnia.io
tags:
- name: Overview
  description: Get policy overview
paths:
  /policy/v1/policies/{planCode}/{policyNumber}/versions:
    get:
      operationId: Policy Versions
      x-scopes: read:policy
      summary: Get policy versions
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          type: integer
      - name: transactionType
        required: false
        in: query
        description: Specifies the type of transaction being performed, such as Premium Payment, Loan Repayment, Anniversary etc
        schema:
          enum:
          - Activation
          - AddOwner
          - AddressChange
          - AgentChange
          - AnnuitantChange
          - Anniversary
          - AnnualPolicyRefreshAndRecalculation
          - AssigneeChange
          - BankAccountChange
          - BeneficiaryChange
          - CalendarProcessing
          - CancelNoPremium
          - ClaimPayout
          - CommunicationPreferenceChange
          - ConversionActivation
          - CostOfInsurance
          - CoverageCharge
          - CoverageCredit
          - DeathClaim
          - DeliveryDateSetup
          - Disbursement
          - EmailChange
          - ExistingPartyNameChange
          - ExpenseCharge
          - FaceAmountChange
          - FaceAmountDecrease
          - FaceAmountIncrease
          - FeatureChange
          - ForceOut
          - FreeLookExpiration
          - FreeLookCancellation
          - FullSurrender
          - FundAllocationsChange
          - FundTransfer
          - GrantorChange
          - PaymentInitialPremium
          - IdentifierChange
          - InitialPremium
          - InterestCredit
          - InterestCreditLoan
          - InterestCreditMatch
          - InterestLoan
          - Issuance
          - Lapse
          - LapseAssessment
          - LoanAnniversaryTrueUp
          - LoanRepaymentOneTime
          - MatchBonusVesting
          - MultipleBeneficiaryChange
          - MultipleEmailChange
          - MultiplePayeeChange
          - MultipleAgentChange
          - MultipleOwnerChange
          - MultipleAnnuitantChange
          - MultiplePhoneNumberChange
          - NewLoan
          - NotificationOfDeathClaim
          - OneTimePremium
          - OwnerChange
          - PartialWithdrawalOneTime
          - PolicyDetailsChange
          - PayeeChange
          - PaymentExpiration
          - PaymentLoanRepaymentOneTime
          - PaymentOneTimePremium
          - PaymentSystematicLoanRepayment
          - PayorChange
          - PhoneNumberChange
          - RateRenewal
          - RemoveOwner
          - Rescission
          - PowerOfAttorneyChange
          - PreferredMailingAddressChange
          - Reinstatement
          - ReinstatementApproved
          - Reissuance
          - RequiredMinimumDistributionOneTime
          - SubsequentPayment
          - SubsequentPremium
          - Sweep
          - SystematicLoanRepayment
          - SystematicLoanRepaymentSetup
          - SystematicPartialWithdrawal
          - SystematicPartialWithdrawalSetup
          - SystematicRequiredMinimumDistribution
          - SystematicRequiredMinimumDistributionSetup
          - SystematicPaymentSetup
          - SystematicAnnuityPayout
          - SystematicAnnuityPayoutSetup
          - SystematicProgramUpdate
          - TPDChange
          - TrusteeChange
          - UnitExpenseCharge
          - ValueAdjustment
          - YearBeginningRefreshAndRecalculation
          - WithdrawnApplication
          - DollarCostAverage
          - ProcessingDate
          - ServiceCharge
          - TransferCharge
          - RiderAddition
          - Annuitization
          - AnnuityBenefitReduction
          - Reclassification
          - FlatExtraChange
          - Commutation
          - Dividend
          - DividendFeatureCharge
          - MarketTimerFee
          - InterimAnnualProcessing
          - HardshipWithdrawal
          - HardshipEnd
          - ResetBenefitAmounts
          - GuaranteedAccumulationBenefitPeriodEnd
          - GainLossChargeBack
          - SpousalContinuation
          - PeriodicCharge
          - DeathBenefitLockIn
          - RatchetLockIn
          - GrowthDeathBenefitLockIn
          - DateOfDeath
          - BenefitAmountAutoAdjustment
          - NotificationOfRiderClaimStart
          - LongTermCareBenefitStartStop
          - DailyRatchet
          - AnnuitizationAnniversary
          - DeclineFeeChange
          - GuaranteedWithdrawalBenefitPaymentLockIn
          - ExcessInterestCredit
          - LongTermCareWithdrawal
          - GuaranteedWithdrawalBenefitInterestAdjustment
          - InvestmentAdvisorFee
          - PayoutAmountChange
          - AdditionalBenefitStart
          - AdditionalBenefitEnd
          - RiderActivationAnniversary
          - AdditionalBenefitRenew
          - QualifiedPlanChange
          - AdvanceAnnuityPayment
          - PartialCommutation
          - GuaranteedIndexRates
          - BailoutRenewal
          - NonLifeAnnuitization
          - AdditionalBenefitReCertification
          - CostBasisReceived
          - FreeWithdrawalRecalculation
          - YearEndGain
          - LongTermCareCertificationDate
          - QuarterlyProcessing
          - BenefitBaseAdjustment
          - RiderBenefitBaseLockIn
          - GuaranteedDeathBenefitRollUpRenew
          - GuaranteedWithdrawalBenefitRollUpRenew
          - RiderCharge
          - LongTermCareFeeStartStop
          - LongTermCareAssessmentCharge
          - RoleBirthday
          - PendingUnclaimedProperty
          - PendingPartialUnclaimedProperty
          - LiquidatedUnclaimedProperty
          - SystematicRiderClaimWithdrawalSetup
          - SystematicRiderClaimWithdrawal
          - TaxWithholdingChange
          - MultipleTrusteeChange
          - MultiplePowerOfAttorneyChange
          - OtherInterestedPartyChange
          - MultipleAuthorizedSignatoryChange
          - AuthorizedSignatoryChange
          - ExchangeCompanyChange
          - BillingFeatureChange
          - GWBPhaseChange
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolicyEvent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Overview
  /policy/v1/policies/{planCode}/{policyNumber}/versions/{version}:
    get:
      operationId: Policy By Version
      summary: Get Policy By Version
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: version
        required: true
        in: path
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Overview
  /policy/v1/policies/{planCode}/{policyNumber}:
    get:
      operationId: Policy Overview
      summary: Get Policy Details
      parameters:
      - name: planCode
        required: true
        in: path
        schema:
          type: string
      - name: policyNumber
        required: true
        in: path
        schema:
          type: string
      - name: external-data
        required: false
        in: query
        description: Controls external data enrichment (e.g. DTCC) for AMP SOR requests. When false, external data population is skipped.
        schema:
          type: boolean
      - name: date
        required: false
        in: query
        schema:
          type: string
      - name: viewDetails
        required: false
        in: query
        schema:
          type: boolean
      - name: version
        required: false
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Returns data for a specific policy
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Policy'
                - $ref: '#/components/schemas/PolicySummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unexpected error occured, please check server logs
      security:
      - Auth0: []
      tags:
      - Overview
components:
  schemas:
    AmountType:
      type: string
      enum:
      - AMOUNT
      - PERCENTAGE
      - MAX
      - FREEWITHDRAWALAMOUNT
      - WITHDRAWALUNTILBASIS
      - EARNINGSONLY
      - PRORATA
      - PERCENT
      - MODIFIEDEARNINGSONLY
      - SUNINCOMEMAXIMIZERONLYLBRMAXIMUM
      - SUNINCOMEMAXIMIZERNETONETIMEACCESS
      - NONSUNINCOMEMAXIMIZERLBRSWDMAXIMUM
      - SUNINCOMEMAXIMIZERGROSSONETIMEACCESS
      - YEARTODATEFIXEDEARNINGS
      - EARNINGSLIQUIDITYFIRST
      - EARNINGSLIQUIDITYLAST
      - GUARANTEEDWITHDRAWALBENEFIT
      - FIXEDMODIFIEDEARNINGS
      - ACCUMULATEDEARNINGS
      - LIFEEXPECTANCY
      - DEFAULT
    RiderParticipant:
      type: object
      properties:
        insuredId:
          type: string
          description: A unique identifier assigned to the insured individual within the system who was covered under this rider
          example: Party_PI_1
        insuredAgeAtIssue:
          type: number
          description: The age of the insured at the time the rider was issued
          example: 50
          format: int32
    Rider:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: TBD
          example: '2023-01-01T12:00:00.000Z'
        type:
          $ref: '#/components/schemas/RiderType'
        riderName:
          type: string
          example: Chronic Illness Accelerated Death Benefit Rider
          description: The specific name of the rider as designated by the insurance company. For example - Terminal Illness Accelerated Death Benefit
        riderElected:
          type: string
          description: Indicates the election status of the rider on the policy, specifying whether the policyholder has formally elected to include the rider
          example: ELECTED
        riderCode:
          type: string
          description: A unique identifier or alphanumeric code assigned to the rider
          example: EVGLHR
        underwritingStatus:
          $ref: '#/components/schemas/UnderwritingStatus'
        unbornChildIndicator:
          type: boolean
          description: This will be set to yes if there is no Child rider insured to support Unborn Child
        qualifiedAdditionalBenefit:
          type: boolean
          description: Indicates whether the rider provides a qualified benefit under IRS or insurance regulations
        effectiveDate:
          type: string
          format: date
          description: Date on which Rider is selected and becomes effective on the policy
          example: '2023-01-01'
        exerciseDate:
          type: string
          format: date
          description: The date the policyholder elects to use or activate the rider benefit
          example: '2023-01-01'
        terminationDate:
          type: string
          format: date
          description: The date on which the rider coverage ends/ is terminated
          example: '2023-01-01'
        status:
          $ref: '#/components/schemas/Status'
        coverageId:
          type: string
          example: Rider_EVGLCHR
          description: An unique identifier assigned to the rider coverage within an insurance coverage or policy layer
        amount:
          type: number
          description: The total benefit amount the rider provides (separate from the base policy’s coverage.)
          example: 0
        annualBenefitAmount:
          type: number
          description: The maximum benefit amount of the benefit base, policyholder can withdraw each year
          example: 0
          format: double
        riderBenefitAmount:
          type: number
          description: The Total Benefit Amount represents the maximum guaranteed amount available under the annuity rider over the life of the contract/rider
          example: 0
          format: double
        riderBenefitPercent:
          type: number
          description: The fixed percentage applied to the Rider Benefit Amount to calculate the annual guaranteed benefit amount
          example: 100
          format: double
        minimumRiderBenefitAmount:
          type: number
          description: Refers to a guaranteed payout to a beneficiary upon the death of the annuitant, regardless of the contract investment performance, as long as the annuity is in the accumulation phase. Used for Variable annuities
          example: 0
          format: double
        growthIncomeBenefitAmount:
          type: number
          description: The Growth Income Benefit value represents the guaranteed income base established under a Guaranteed Minimum Income Benefit (GMIB) rider. It is used to calculate the lifetime income payments the annuitant is entitled to upon annuitization, regardless of the contract actual account value.
          example: 0
          format: double
        riderStoredIncomeBalance:
          type: number
          description: Amount that can be withdrawn without reducing the yearly or Lifetime rider benefit amount
          example: 0
          format: double
        riderParticipant:
          description: Note - Use riderParticipants field instead of riderParticipant
          type: array
          items:
            $ref: '#/components/schemas/RiderParticipant'
        additionalBenefitUsageCount:
          type: number
          format: int32
          description: The number of times the additional benefit has been used.
          example: 0
        riderParticipants:
          type: array
          items:
            $ref: '#/components/schemas/PartyRiderParticipant'
        charge:
          $ref: '#/components/schemas/RiderCharge'
        maximumChronicIllnessBenefitPercentage:
          type: number
          description: The highest percentage of the death benefit or face amount that can be taken for chronic illness coverage
          example: 2.5
        maximumPeriodicPaymentPeriod:
          type: number
          description: The maximum duration over which payments can be made under the rider ( in Months)
        claimStatus:
          type: boolean
          description: The current status of a claim filed under the rider
        nextEvaluationDate:
          type: string
          format: date
          description: The date of the next scheduled review or re-evaluation of an ongoing claim (applicable for riders like chronic illness).
          example: '2023-01-01'
        riderPaymentDate:
          type: string
          format: date
          description: The date the benefit payout under the rider is to be disbursed to the policyholder or beneficiary
          example: '2023-01-01'
        terminalRiderPaymentAmount:
          type: number
          description: The amount paid under the rider benefit.(during a given payout cycle)
          example: 0
        riderMinimumPaymentAmount:
          type: number
          description: Deprecated - kept for backwards compatibility
          example: 0
        maximumCriticalIllnessBenefitPercentage:
          type: number
          description: The highest percentage of the policy’s face amount that can be accessed under the critical illness rider
          example: 0
        tierOneMaximumCriticalIllnessBenefitPercentage:
          type: number
          description: The percentage of the benefit payable under Tier 1 of the critical illness structure (e.g., for mild conditions).
          example: 0
        tierOneMaximumCriticalIllnessBenefitAmount:
          type: number
          description: The maximum dollar amount payable under Tier 1 benefits
          example: 0
        tierTwoMaximumCriticalIllnessBenefitPercentage:
          type: number
          description: The percentage of the benefit payable under Tier 2(usually for more severe conditions.)
          example: 0
        tierTwoMaximumCriticalIllnessBenefitAmount:
          type: number
          description: The maximum dollar amount payable under Tier 2 benefits.
          example: 0
        tierOneCriticalRiderPaymentDate:
          type: string
          format: date
          description: The date on which the Tier 1 critical illness rider benefit payment is scheduled or was made
          example: '2023-01-01'
        tierOneCriticalRiderPaymentAmount:
          type: number
          description: The amount of benefit paid under the Tier 1 critical illness
          example: 0
        tierTwoCriticalRiderPaymentDate:
          type: string
          format: date
          description: The date on which the Tier 2 critical illness rider benefit payment is scheduled or was made
          example: '2023-01-01'
        tierTwoCriticalRiderPaymentAmount:
          type: number
          description: The amount of benefit paid under the Tier 2 critical illness
          example: 0
        coverageLayers:
          type: array
          items:
            $ref: '#/components/schemas/RiderCoverageLayer'
        remainingBenefit:
          type: number
          format: double
          description: The remaining benefit amount for the rider. Incremented by Premiums and adjusted by withdrawals.
          example: 10.51
        additionalBenefitUsedUp:
          type: boolean
          description: Indicates whether the ADL benefit is utilised on the contract.
        totalBenefit:
          type: number
          format: double
          description: The total guaranteed value the contract owner is entitled to at the end of the GMAB holding period — assuming no disqualifying withdrawals or events.
          example: 5.17
        payoutOption:
          type: string
          enum:
          - SINGLE
          - JOINT
          description: Single or Joint Payout (not driven by Owners on the policy, even a jointly owned policy can have single as an option. Used in configuration to set different GMWB benefits for Single and Joint GMWB Amount Types
        benefitPercent:
          type: number
          format: double
          description: Ties to Withdrawal Reset Benefit % Annual Limit on Calender Processing if GMWB Anniversary Base reset is elected. Equals result of GMWB Benefit % equation box in Withdrawal tab (GMWB) Ku - Payout Factor  Percentage of the benefit base that will be available for withdrawal each year
          example: 1.23
        annualBenefitLimit:
          type: number
          format: double
          description: GMWB Annual Limit, The total amount that can be withdrawn as a benefit of this rider in any given policy year, regardless of whether or not there is sufficient account value. It is also the annual limit on amounts that can be withdrawn without adversely affecting future annual and lifetime benefits from the rider.this amount will be impacted during Reset or Withdrawals or Premium events
          example: 3.43
        currentAnnualLimit:
          type: number
          format: double
          description: ' GMWB Annual Limit, The total amount that can be withdrawn as a benefit of this rider in any given policy year, regardless of whether or not there is sufficient account value. It is also the annual limit on amounts that can be withdrawn without adversely affecting future annual and lifetime benefits from the rider.this amount will be impacted during Reset or Withdrawals or Premium events'
          example: 5.45
        remainingAnnualLimit:
          type: number
          format: double
          description: The GMWB amount still available for withdrawal in the current Contract Year without creating an "Excess Withdrawal" situation.
          example: 6.75
        hypotheticalAnnualLimit:
          type: number
          format: double
          description: During the riders accumulation phase (before it is exercised), a hypothetical annual withdrawal limit is calculated and displayed on statements to inform the policyholder and assist in their decision to exercise the rider
          example: 8.95
        phase:
          type: string
          enum:
          - ACCUMULATION
          - INCOME
          description: Indicator for whether the phase is Accumulation (not activated, benefit base is still accruing) or Income (annual limit calculated, benefit bases stop growing). Default value = Accumulation
        lastResetDate:
          type: string
          format: date
          description: User initiates the Reset, Variables product
          example: '2023-01-01'
        base:
          $ref: '#/components/schemas/Base'
    IssueType:
      type: string
      enum:
      - FULLUNDERWRITING
      - SIMPLIFIED
      - GUARANTEEISSUE
      - REDUCEDUNDERWRITING
      - EXPRESSUNDERWRITING
      - MASSUNDERWRITING
      - AVIATION
    TestValues:
      type: object
      properties:
        guidelinePremium:
          $ref: '#/components/schemas/GuidelinePremium'
        modifiedEndowmentContract:
          $ref: '#/components/schemas/ModifiedEndowmentContract'
    PolicyPartyRoles:
      type: object
      properties:
        partyRoleId:
          type: string
          example: '8'
          format: int32
          description: The Party Role ID is a unique identifier assigned to a specific role that a party (individual or entity) plays within an insurance or annuity contract. It serves to distinctly track and manage the relationship between the party and the contract, especially when a party may have multiple roles across different policies or within the same policy
        partyRole:
          $ref: '#/components/schemas/PartyRole'
        partyId:
          type: string
          example: Party_PI_1
          description: Party ID is a unique identifier assigned to a party (individual or entity) involved in an insurance or annuity contract. This identifier helps ensure accurate data exchange and tracking across insurance transactions
        relationshipToInsured:
          type: string
          enum:
          - TRUSTEE
          - TRUSTEEOFMINOR
          - TRUSTEEOFINCOMPETENT
          - POWEROFATTORNEY
          - CONTROLLINGPERSONOFENTITY
          - BROTHER
          - CHILD
          - DAUGHTER
          - DOMESTICPARTNER
          - EXECUTORS
          - FATHER
          - FIANCE
          - GRANDCHILD
          - LIFEPARTNER
          - MOTHER
          - SISTER
          - SON
          - SPOUSE
          - STEPFATHER
          - STEPMOTHER
          - SELF
          - LEGALGUARDIAN
          - BUSINESS
          - BUSINESSASSOCIATE
          - PARTNER
          - EMPLOYER
          - FORMERSPOUSE
          - GRANDPARENT
          - PARENT
          - OWNER
          - SIBLING
          - STEPCHILD
          - STEPARENT
          - OTHER
          - AUNT
          - GRANDFATHER
          - GRANDMOTHER
          - HUSBAND
          - WIFE
          - UNCLE
          - NIECE
          - NEPHEW
          - ESTATE
          - TRUST
          - GRANDSON
          - GRANDDAUGHTER
          - NONSPOUSE
          - CHILDRENEQUALLY
          - CHILDRENPERSTIRPES
          - PERSTIRPES
          - SURVIVINGSPOUS
          - COMORTGAGER
          - DEPENDENT
          description: The type of relationship to the party
        relationshipToParty:
          type: string
          enum:
          - TRUSTEE
          - TRUSTEEOFMINOR
          - TRUSTEEOFINCOMPETENT
          - POWEROFATTORNEY
          - CONTROLLINGPERSONOFENTITY
          - BROTHER
          - CHILD
          - DAUGHTER
          - DOMESTICPARTNER
          - EXECUTORS
          - FATHER
          - FIANCE
          - GRANDCHILD
          - LIFEPARTNER
          - MOTHER
          - SISTER
          - SON
          - SPOUSE
          - STEPFATHER
          - STEPMOTHER
          - SELF
          - LEGALGUARDIAN
          - BUSINESS
          - BUSINESSASSOCIATE
          - PARTNER
          - EMPLOYER
          - FORMERSPOUSE
          - GRANDPARENT
          - PARENT
          - OWNER
          - SIBLING
          - STEPCHILD
          - STEPARENT
          - OTHER
          - AUNT
          - GRANDFATHER
          - GRANDMOTHER
          - HUSBAND
          - WIFE
          - UNCLE
          - NIECE
          - NEPHEW
          - ESTATE
          - TRUST
          - GRANDSON
          - GRANDDAUGHTER
          - NONSPOUSE
          - CHILDRENEQUALLY
          - CHILDRENPERSTIRPES
          - PERSTIRPES
          - SURVIVINGSPOUS
          - COMORTGAGER
          - DEPENDENT
          description: The type of relationship to the party
        startDate:
          type: string
          format: date
          example: '2023-01-01'
          description: Date the Party was added to the Policy
        endDate:
          type: string
          format: date
          example: '2023-01-01'
          description: Date the Party was Terminated from the Policy
        preferredCommunicationType:
          $ref: '#/components/schemas/CommunicationType'
        preferredAddressId:
          type: string
          example: '1'
          description: Deprecated - kept for backward compatibility. Use preferredAddressId under party section. The Preferred Address ID refers to the unique identifier of the address designated as the primary or preferred address for a given party when multiple addresses are associated with that individual or entity. This ensures consistent use of the correct address for communication, correspondence, and recordkeeping
        preferredEmailId:
          type: string
          example: '1'
          description: Deprecated - kept for backward compatibility. Use preferredEmailId under party section. The Preferred Email ID refers to the unique identifier of the email address designated as the primary or preferred email contact for an individual or entity when multiple email addresses are on file
        preferredPhoneId:
          type: string
          example: '1'
          description: Deprecated - kept for backward compatibility. Use preferredPhoneId under party section. The Preferred Phone ID refers to the unique identifier of the phone number designated as the primary contact number for a given individual or entity when multiple phone numbers are associated with the same party
        isAddressSameAsOwner:
          type: boolean
          description: Boolean 0 = No 1 = Yes to denote if the email is the preferred
        lastContactDate:
          type: string
          example: '2023-01-01'
          description: Last Contact Date refers to the most recent date on which there was a direct or system-recorded interaction with a party (individual or entity) associated with a policy or contract. This party may be a policyholder, insured, beneficiary, payor, agent, or any other role relevant to life and annuity products.
          format: date
        beneficiaryShareMethod:
          type: string
          enum:
          - PERSTIRPESDISTRIBUTION
          description: Roles that are essential in structuring life insurance and annuity contracts to meet the financial goals of policyholders and beneficiaries.
        collateralAmount:
          type: number
          format: double
          description: The Collateral Amount of an Assignee refers to the portion of a life insurance policy's value or benefit that is pledged as collateral to a third party (the assignee) under a collateral assignment agreement. This is commonly used when a policyholder uses a life insurance policy as security for a loan or other financial obligation.
          example: 1023.21
        powerOfAttorneyAccessLevelType:
          $ref: '#/components/schemas/PowerOfAttorneyAccessLevelType'
        partyPercentage:
          type: number
          format: double
          description: Party Role Percentage refers to the proportion of ownership, benefits, or responsibility assigned to a party within an insurance or annuity contract. It is used to distribute policy ownership, benefit payouts, commission sharing, or annuity payments among multiple parties.
          example: 1023.21
    CostBasis:
      type: object
      properties:
        costBasis:
          type: number
          description: The Cost Basis refers to the total cumulative amount of after-tax premiums paid into a life insurance policy or annuity contract. It represents the non-taxable portion of withdrawals, policy loans, or surrenders, ensuring that policyholders are only taxed on gains above this amount
          example: 198
        costBasisDate:
          type: string
          format: date
          description: The Cost Basis Date refers to the date on which the cost basis value of a life insurance policy or annuity contract is calculated. The cost basis represents the total amount of after-tax money contributed to the policy or annuity and is used to determine the taxable portion of withdrawals, loans, or payouts
          example: '2023-01-01'
        preTaxEquityAndFiscalResponsibilityActBasis:
          type: number
          format: double
          description: The Pre-TEFRA Basis refers to the cost basis of a life insurance policy or annuity before the Tax Equity and Fiscal Responsibility Act (TEFRA) of 1982 took effect. This distinction is important because TEFRA introduced new tax regulations on insurance products, including how withdrawals, policy loans, and annuities are taxed
          example: 161.81698
        preTechnicalAndMiscellaneousRevenueActAmount:
          type: number
          format: double
          description: Cost basis of a policy prior to Technical and Miscellaneous Revenue Act (TAMRA) of 1988.SB FIA - do not have 403 Qual Type, but if an exchange policy has it this will need to be housed and tracked going forward.
          example: 161.81698
        postTechnicalAndMiscellaneousRevenueActAmount:
          type: number
          format: double
          description: Cost basis of a policy after Technical and Miscellaneous Revenue Act (TAMRA) of 1988. SB FIA - do not have 403 Qual Type, but if an exchange policy has it this will need to be housed and tracked going forward.
          example: 161.81698
        changeAmount:
          type: number
          format: double
          description: The Cost Basis Change Amount refers to the difference between the old and new cost basis of a life insurance policy or annuity. It reflects adjustments due to premium payments, withdrawals, policy loans, 1035 exchanges, or other financial transactions that impact the total cost basis.
          example: 161.81698
    PartyRiderParticipant:
      type: object
      properties:
        partyId:
          type: string
          description: A unique identifier assigned to the party insured within the system who was covered under this rider
          example: Party_PI_1
        partyAgeAtIssue:
          type: number
          format: int32
          description: The age of the insured at the time the rider was issued
          example: 50
        riskClass:
          type: string
          enum:
          - ULTRANONTOBACCO
          - ELITENONTOBACCO
          - PREFERREDNONTOBACCO
          - STANDARDNONTOBACCO
          - STANDARDTOBACCO
          - STANDARDAGGREGATE
          - SUBSTANDARDNONTOBACCO
          - SUBSTANDARDTOBACCO
          - STANDARDPLUSNONTOBACCO
          - PREFERREDTOBACCO
          - STANDARDCONVERSIONTOBACCO
          - STANDARDCONVERSIONNONTOBACCO
          description: The Risk Class refers to the underwriting category assigned to an applicant based on their health, lifestyle, and medical history, which determines their premium rates for a life insurance policy. Insurers use risk classifications to assess mortality risk and price policies accordingly.
        substandardRating:
          type: string
          enum:
          - TABLEA
          - TABLEB
          - TABLEC
          - TABLED
          - TABLEE
          - TABLEF
          - TABLEG
          - TABLEH
          - TABLEI
          - TABLEJ
          - TABLEK
          - TABLEL
          - TABLEM
          - TABLEN
          - TABLEO
          - TABLEP
          - NONETABLE
          description: A Substandard Rating (also called Table Rating) is assigned to applicants who do not qualify for Standard or Preferred risk classes due to health conditions, lifestyle risks, or medical history. This rating results in higher premium costs because the insured presents a greater mortality risk.
        flatExtra:
          type: array
          items:
            $ref: '#/components/schemas/FlatExtra'
    Identification:
      type: object
      properties:
        identificationId:
          type: string
          description: A unique system-generated ID for tracking individual identifier records
          example: '1'
        startDate:
          type: string
          description: The date from which the party`s identifier is considered valid. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        endDate:
          type: string
          description: The date after which the party`s identifier is no longer valid. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        identificationType:
          type:
          - string
          - 'null'
          enum:
          - PASSPORT
          - STATEPHOTOID
          - DRIVERLICENSENUMBER
          - SSN
          - TIN
          - EXTERNAL
          - EIN
          - NATIONALPRODUCERNUMBER
          - OTHER
          description: Specifies the kind of identifier provided for a party. It describes what type of document or number is being used to recognize or verify the party's identity
        identificationKey:
          type: string
          example: 666-50-8548
          description: A unique code (such as ECN, Life Party ID, or Series Code) used to uniquely identify and manage individuals, entities, or product groupings within life insurance and annuity systems
        identificationValue:
          type:
          - string
          - 'null'
          example: 666-50-8548
          description: The unique number of the selected identification type
        identificationDescription:
          type: string
          example: Employee Control Number
          description: A brief description of the identifier.
        issueState:
          type:
          - string
          - 'null'
          enum:
          - AA
          - AE
          - AL
          - AP
          - AK
          - AZ
          - AR
          - AS
          - CA
          - CO
          - CT
          - DC
          - DE
          - FL
          - GA
          - GU
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MP
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - PR
          - RI
          - SC
          - SD
          - TN
          - TX
          - UM
          - UT
          - VT
          - VA
          - VI
          - WA
          - WV
          - WI
          - WY
        issueCountry:
          type:
          - string
          - 'null'
          enum:
          - US
          - CA
          - RU
          - EG
          - ZA
          - GR
          - NL
          - BE
          - FR
          - ES
          - HU
          - IT
          - RO
          - CH
          - AT
          - GB
          - DK
          - SE
          - 'NO'
          - PL
          - DE
          - PE
          - MX
          - CU
          - AR
          - BR
          - CL
          - CO
          - VE
          - MY
          - AU
          - ID
          - PH
          - NZ
          - SG
          - TH
          - JP
          - VN
          - CN
          - TR
          - IN
          - PK
          - AF
          - LK
          - IR
          - MA
          - DZ
          - TN
          - LY
          - GM
          - SN
          - MR
          - ML
          - GN
          - BF
          - NE
          - TG
          - BJ
          - MU
          - LR
          - SL
          - GH
          - NG
          - CF
          - TD
          - CM
          - CV
          - ST
          - GQ
          - GA
          - BS
          - AO
          - BB
          - AX
          - SD
          - RW
          - ET
          - SO
          - DJ
          - KE
          - TZ
          - UG
          - BI
          - MZ
          - ZM
          - MG
          - RE
          - ZW
          - NA
          - MW
          - LS
          - BW
          - AG
          - KM
          - GW
          - CD
          - VG
          - SH
          - AW
          - FO
          - GL
          - KY
          - GI
          - PT
          - LU
          - IE
          - IS
          - AL
          - MT
          - CY
          - FI
          - BG
          - GG
          - LT
          - LV
          - EE
          - MD
          - AM
          - BY
          - AD
          - SM
          - UA
          - HR
          - SI
          - BA
          - MK
          - XK
          - CZ
          - SK
          - LI
          - BM
          - GD
          - FK
          - BZ
          - GT
          - SV
          - HN
          - NI
          - CR
          - PM
          - HT
          - PR
          - VI
          - GS
          - SX
          - BQ
          - GP
          - BO
          - GY
          - EC
          - GF
          - PY
          - MQ
          - SR
          - UY
          - AN
          - TC
          - BL
          - MF
          - MS
          - GU
          - AQ
          - BN
          - NR
          - PG
          - TO
          - SB
          - VU
          - FJ
          - WF
          - CK
          - NU
          - AS
          - KI
          - NC
          - TV
          - PF
          - MP
          - PW
          - MH
          - FM
          - SS
          - LC
          - DM
          - VC
          - DO
          - HK
          - MO
          - KH
          - LA
          - TT
          - KN
          - JM
          - BD
          - TW
          - MM
          - KR
          - KP
          - LB
          - JO
          - SY
          - IQ
          - KW
          - SA
          - OM
          - AE
          - IL
          - BH
          - QA
          - BT
          - NP
          - TJ
          - TM
          - AZ
          - GE
          - UZ
          - AI
          - PA
          - CI
          - ER
          - KZ
          - KG
          - CC
          - MN
          - BV
          - SC
          - IO
          - WS
          - TL
          - TF
          - YT
          - PN
          - SJ
          - TK
          - UM
          - EH
          - MV
          - CX
          - NF
          - CG
          - MC
          - VA
          - SZ
          - PS
          - JE
          - IM
          - RS
          - ME
          - HM
          - CW
          - CS
          - YE
          - YD
          - SU
          - YU
          - ZR
    DefinitionOfLifeInsurance:
      type: string
      enum:
      - GPT
      - CVAT
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2023-01-01T12:00:00.000Z'
        message:
          type: string
    PartyStatus:
      type: string
      enum:
      - APPROVED
      - NOTAPPROVED
      - PROCESSED
    Status:
      type: string
      enum:
      - ACTIVE
      - TERMINATED
      - PENDING
      - SUSPENDED
    LoanInterestType:
      type: string
      enum:
      - FIXED
      - INDEXED
      - VARIABLE
      - ADJUSTABLE
    AccountValues:
      type: object
      properties:
        beginningAccountValue:
          type: number
          description: The Account Value refers to the total cash value of a life insurance policy or annuity at the beginning of each transaction, including both loaned and unloaned amounts. It represents the policy’s accumulated value before deductions, withdrawals, or new transactions
          example: 161.81698
        endingAccountValue:
          type: number
          description: The Current Account Value refers to the total cash value of a life insurance policy or annuity (including loaned and unloaned amounts) as of the last processed transaction. This value is used to determine the available account value (AV) for policyholders and is also the amount on which Fixed Interest is credited
          example: 161.81698
        minimumRequiredAccountValue:
          type: number
          description: The Minimum Required Account Value refers to the lowest amount of account value that must be maintained in a life insurance policy or annuity to keep the contract active and prevent policy lapse. If the account value falls below this threshold, the policy may enter a grace period, require additional premium payments, or terminate. For some products this may be "0"
          example: 0
        accountValueByPolicyYear:
          type: number
          description: The Account Value by Policy Year refers to the total account value at the beginning of each policy year, before any new transactions such as premium payments, withdrawals, loans, or interest credits are applied. This value helps track policy growth, cash value accumulation, and available funds over time
          example: 0
        unloanedPortionOfAccountValue:
          type: number
          description: The Unloaned Portion of Account Value refers to the part of the total account value that is not affected by policy loans. Once a policy loan is taken, the total account value is split into loaned and unloaned portions, with the unloaned portion continuing to accrue interest and potential investment returns
          example: 161.81698
        loanedPortionOfAccountValue:
          type: number
          description: The Loaned Portion of Account Value refers to the amount of a policy’s account value that is used as collateral for a policy loan. This amount is set aside from the Ending Account Value and is used to calculate loan interest accruals. The loaned portion is updated each time a new loan is processed
          example: 0
        surrenderValue:
          type: number
          description: The Account Surrender Value refers to the amount an insurance company pays to the policyholder when they voluntarily cancel (surrender) their life insurance policy or annuity before its maturity or death benefit payout. This value is determined after deducting surrender charges, outstanding loans, and applicable fees from the policy’s total account value
          example: 161.81698
        surrenderValueWithoutMarketValueAdjustment:
          type: number
          format: double
          description: Sum of money an insurance company pays to the policyholder or account owner upon the surrender of a policy/account without MVA value included
          example: 161.81698
        surrenderValueWithZeroMarketValueAdjustment:
          type: number
          format: double
          description: For Valuation (Reserving purposes). The account surrender value where the surrender charge has been recalculated assuming $0 MVA
          example: 161.81698
        guaranteedCashSurrenderValueFixed:
          type: number
          description: The Guaranteed Cash Surrender Value (Fixed) refers to the minimum cash value that a policyholder is assured to receive if they surrender their life insurance policy, regardless of market conditions. This amount is contractually defined and does not fluctuate with policy performance
          format: double
          example: 161.81698
        guaranteedCashSurrenderValueIndexed:
          type: number
          description: The indexed amount of cash that the policyholder is guaranteed to receive upon surrendering the policy before its maturity.Only required for Annuity FIA Products
          format: double
          example: 161.81698
        netAmountAtRisk:
          type: number
          description: The Net Amount at Risk (NAR) is the difference between the policy’s total death benefit and the policy’s account value (cash value). It represents the portion of the death benefit that the insurance company is at risk of paying out beyond the policyholder’s accumulated account value
          example: 16.81698
        deemedAccountValue:
          type: number
          description: The Deemed Account Value refers to an adjusted account value used for specific policy calculations, regulatory compliance, or benefit determinations. It may differ from the actual account value due to adjustments for policy loans, fees, surrender charges, or regulatory requirements
          example: 16.81698
        initialPremiumRequestAmount:
          type: number
          description: The Initial Premium Request Amount refers to the first premium payment made by the policyholder (party) to initiate coverage on a life insurance or annuity contract. This amount is required to activate the policy and begin accumulating benefits
          example: 99
        initialPremiumAppliedAmount:
          type: number
          description: The Initial Premium Applied Amount refers to the portion of the initial premium payment that is officially applied to the policy after processing. This amount determines when the policy becomes active and how funds are allocated within the contract
          example: 99
        initialPaymentAmountReceivedDate:
          type: string
          format: date
          description: The Initial Premium Amount Received Date refers to the date when the insurance company's home office officially receives the first premium payment for a life insurance policy or annuity contract. This date is crucial as it determines when the policy processing begins and may impact policy activation timelines
          example: '2023-01-01'
        cumulativePremiumSinceIssue:
          type: number
          description: The Cumulative Premium Since Issue refers to the total amount of premiums paid into a life insurance policy or annuity contract from the policy’s start date (issue date) to the present. This figure represents all premium contributions made by the policyholder over time
          example: 198
        totalYearToDatePremiumAmount:
          type: number
          description: The Total (YTD) Premium Amount refers to the total premium applied to a life insurance policy or annuity contract within the current calendar or policy year, up to the present date. This value is used to track year-to-date contributions and ensure policy funding requirements are met
          example: 198
        modifiedEndowmentContractAuthorization:
          type: string
          enum:
          - 'true'
          - 'false'
          description: MEC Authorization refers to the approval process required when a life insurance policy is classified as a Modified Endowment Contract (MEC). A MEC is a permanent life insurance policy that fails the IRS "7-Pay Test," resulting in different tax treatment of policy loans and withdrawals. MEC Authorization is typically required from the policyholder before processing transactions that could convert the policy into a MEC, ensuring they understand the tax consequences.
        projectedLapseIndicator:
          type: boolean
          description: The Projected Lapse Indicator is a forecast that indicates whether a life insurance policy is expected to lapse within the next policy year based on its current account value, premium payments, cost of insurance (COI), and other policy charges
        policyGainAmount:
          type: number
          description: The Policy Gain Amount is the difference between the policy’s total account value and the cost basis. It represents the amount of gain that may be subject to taxation if withdrawn or surrendered
          example: 0
        uncollectedCharges:
          type: number
          description: Uncollected Charges refer to negative charges assessed when a policy is in a lapse condition due to insufficient funds in the policy’s account value. These charges represent policy fees, cost of insurance (COI), and other deductions that could not be collected because the policy had inadequate cash value
          example: 0
        annualTargetPremium:
          type: number
          description: 'The Annual Target Premium is the calculated premium amount used to determine commissions for agents and brokers. It represents the portion of the policy premium that qualifies for commission payments and is calculated based on specific monthly charges within the policy. The Annual Target Premium for the calculation of commissions will be calculated using the following formula: [(Monthly Expense Charge + Monthly Unit Charge + Monthly Coverage Charge + Children’s Term Insurance Rider Charge) ÷ (1 – Payment Charge)] × 12]'
          example: 99.9
          format: double
        modalTargetPremium:
          type: number
          description: 'The Modal Target Premium is the periodic premium amount used for commission calculations based on the chosen payment mode (e.g., monthly, quarterly, semi-annually, or annually). It is derived from the Annual Target Premium and represents how much of the target premium is allocated to each payment cycle. Modal Target Premium for the calculation of commissions will be calculated using the following formula: [(Monthly Expense Charge + Monthly Unit Charge + Monthly Coverage Charge + Children’s Term Insurance Rider Charge) ÷ (1 – Payment Charge)] × 12]'
          example: 99.9
          format: double
        annualizedPremium:
          type: number
          description: Annualized Premium refers to the total amount of premium a policyholder is expected to pay over the course of a full year, assuming the policy remains active and all scheduled premium payments are made on time and in full. It is a standardized representation of premium income, regardless of payment mode (monthly, quarterly, semiannual, or annual)
          example: 99.99
          format: double
        unearnedPremium:
          type: number
          description: Unearned Premium is the portion of a policyholder’s premium that has been paid in advance but corresponds to future coverage—i.e., insurance protection that has not yet been provided. It represents a liability on the insurer’s books because it reflects coverage that still needs to be delivered
          example: 99.99
          format: double
        excessPremium:
          type: number
          format: double
          description: Excess Premium refers to the amount of premium paid into a life insurance or annuity policy that exceeds the allowable or intended limits set by the contract, regulatory testing (e.g., MEC or Guideline Premium Tests), or policy design (e.g., target or planned premiums).
          example: 99.99
        outstandingLifetimePremium:
          type: number
          format: double
          description: Outstanding Lifetime Premium refers to the total amount of premium that remains unpaid over the lifetime of the policy, based on the expected premium schedule set at issue or during the most recent plan update. It represents the future premium obligation assuming the policyholder continues to pay until the end of the coverage period or maturity
          example: 99.99
        suppressionIndicator:
          type: boolean
          description: The Suppression Indicator is a flag or marker used in policy administration systems to prevent certain actions, notifications, or transactions from being processed or displayed. It is commonly applied to billing, statements, reports, or policy updates based on specific business rules
        interestEarned:
          type: number
          format: double
          description: The Interest Earned refers to the amount of interest credited to a life insurance policy or annuity contract based on the accumulated account value. This interest may be guaranteed (fixed) or variable (market-based), depending on the policy type
          example: 99.12
        totalNetWithdrawalSinceIssue:
          type: number
          description: Running total of all Net Withdrawals since policy issuance
          format: double
        totalGainWithdrawnSinceIssue:
          type: number
          description: Total of all earnings withdrawn since policy issue
          format: double
        employeeRetirementIncomeSecurityActIndicator:
          type: boolean
          description: ERISA Indicator is a field that specifies whether a policy or contract is subject to the Employee Retirement Income Security Act of 1974 (ERISA) — a federal law that governs certain employer-sponsored retirement and benefit plans in the U.S.
        cumulativePremiumReceived:
          type: number
          format: double
          description: Cumulative Premium Received refers to the total sum of premium payments that have been successfully received and applied to a policy from the date of issuance up to a given point in time.
          example: 99.99
        previousModePremiumReceived:
          type: number
          format: double
          description: Previous Mode Premium Received refers to the actual premium amount collected during the prior billing mode period for a specific policy or coverage. This value reflects what was received for the most recently completed premium cycle (monthly, quarterly, semi-annual, or annual), immediately preceding the current period.
          example: 99.99
        offageAmount:
          type: number
          format: double
          description: Offage Amount refers to the difference between the expected or scheduled value and the actual value applied or received on a policy transaction, typically related to premium payments, disbursements, or reserve adjustments. It acts as a variance indicator, flagging whether there is an overage or shortage that needs reconciliation.
          example: 99.99
        totalGuaranteedCashSurrenderValue:
          type: number
          format: double
          description: The minimum guaranteed amount that the policyholder would receive upon surrendering the contract, as defined by the contracts guaranteed values.
          example: 161.81698
    HoldingForm:
      type: string
      enum:
      - INDIVIDUAL
      - GROUP
      - JOINTINDIVIDUAL
    DisbursementType:
      type: string
      enum:
      - GROSS
      - NET
      - NETNET
    RiderCoverageLayer:
      type: object
      properties:
        coverageId:
          type: string
          description: The Coverage ID is a unique identifier assigned to a specific coverage type or benefit within an insurance policy. It helps insurance companies, agents, and policyholders track and differentiate multiple coverage components within a single policy.
          example: Base_Coverage
        coverageType:
          type: string
          enum:
          - BASE
          - RIDER
          - BASEINCREASE
          - INTEGRATEDRIDER
          - RIDERINCREASE
          - BENEFIT
          - DISCOUNT
          - OTHER
          - UNKNOWN
          description: The type of rider denoting if benefit is applicable to base coverage or a distinct  coverage or addition to base coverage or a benefit without any coverage
        coverageName:
          type: string
          description: The Coverage Name in a life insurance policy refers to the specific title or label assigned to a coverage type within the policy contract. It helps insurers, agents, and policyholders identify, classify, and manage different coverage components in a policy.
          example: Base_Coverage
        productCode:
          type: string
          description: The Plan Code is a carrier-assigned alphanumeric identifier used to uniquely distinguish a specific insurance or annuity product, rate structure, version, and coverage layer within an insurer's portfolio. It is essential for policy administration, pricing, underwriting, and claims processing.
          example: EVGL1
        coverageTerm:
          type: number
          format: int32
          description: Coverage Term refers to the number of years that a life insurance policy or specific coverage component is intended to remain in force, providing protection to the insured. It defines the planned duration of insurance coverage, after which the coverage may expire, renew, or convert, depending on the product type.
          example: 1
        approvedCoverageAmount:
          type: number
          format: double
          description: The Approved Coverage Amount refers to the specific amount of insurance coverage that has been approved by the insurer during the underwriting process. It represents the face amount (death benefit) the insurer has agreed to issue based on the applicant's risk profile, health, and other underwriting criteria.
          example: 10000
        currentAmount:
          type: number
          format: double
          description: The Current Coverage Amount refers to the active or present death benefit or coverage value available under the policy at a specific point in time. It reflects any adjustments, policy changes, withdrawals, or loans that may have altered the original coverage amount.
          example: 300000
        originalCoverageAmount:
          type: number
          format: double
          description: The Original Coverage Amount refers to the initial face value or death benefit of a policy at the time of issuance before any policy modifications, withdrawals, loans, or benefit reductions. It represents the starting coverage amount agreed upon when the policy was first issued.
          example: 300000
        minimumCoverageAmount:
          type: number
          format: double
          description: The Minimum Coverage Amount at Each Coverage Level refers to the lowest permissible amount of insurance coverage allowed per policy layer, as set by the insurance carrier. It ensures policies remain financially viable and comply with regulatory and underwriting standards.
          example: 10000
        maximumCoverageAmount:
          type: number
          format: double
          description: 'The Maximum Coverage Amount at Each Coverage Level refers to the highest permissible amount of insurance coverage allowed per policy layer, as set by the insurance carrier. '
          example: 10000000
        grossDeathBenefitAmount:
          type: number
          format: double
          description: The Gross Death Benefit per Coverage Layer refers to the total pre-deduction death benefit amount assigned to each specific coverage layer within a policy. It represents the sum of all base coverage amounts, riders, and enhancements before applying policy adjustments such as loans, withdrawals, or unpaid premiums.
          example: 300000
        lowDeathBenefitAmount:
          type: number
          format: double
          description: Low Death Benefit refers to the lowest possible death benefit guaranteed within each specific coverage component of a policy. This ensures that beneficiaries receive at least a minimum death benefit regardless of market performance, policy changes, or withdrawals.
          example: 300000
        coverageChangeAmount:
          type: number
          format: double
          description: The Coverage Change Amount refers to the specific increase or decrease in coverage that occurs within a life insurance policy due to policyholder requests, automatic adjustments, or insurer-initiated changes. This amount reflects the difference between the original or prior coverage amount and the new coverage amount after the change takes effect.
          example: 3000000
        coverageEffectiveDate:
          type: string
          format: date
          description: The Coverage Effective Date refers to the date when an increase in coverage or a new coverage component officially takes effect in a life insurance policy. It marks the beginning of the insured’s eligibility for the new or increased benefits.
          example: '2023-01-01'
        coverageChangeEffectiveDate:
          type: string
          format: date
          description: The Coverage Change Effective Date (for a decrease in coverage) refers to the date when the reduced coverage amount officially takes effect in a life insurance policy. It marks the point from which the new lower coverage amount applies.
          example: '2023-01-01'
        coverageTerminationDate:
          type: string
          format: date
          description: The Coverage Termination Date refers to the date when a policy's coverage officially ends, meaning the insured is no longer protected under the contract. After this date, no benefits or claims can be paid unless reinstatement is an option.
          example: '2023-01-01'
        unitOfCoverage:
          type: number
          format: double
          description: 'The Unit of Coverage refers to the measurement standard used to define the amount of coverage provided under a life insurance policy. It helps insurers calculate premiums, determine benefit payouts, and structure policies consistently.In life insurance, the unit of coverage is typically measured per $1,000 of face amount. '
          example: 300
        valuePerUnitOfCoverage:
          type: number
          format: double
          description: The Value per Unit of Coverage refers to the monetary worth of each unit of coverage in a life insurance policy, which is used for premium calculations, benefit payouts, and policy adjustments. This value helps insurers standardize pricing and policy structures.In life insurance, the value per unit represents the cost per $1,000 of coverage or payout per unit of death benefit.In annuities, it determines the payout per annuity unit or per $1,000 of account value.
          example: 1000
        guidelineSinglePremium:
          type: number
          format: double
          description: The Guideline Single Premium (GSP) is the maximum single premium payment that can be made into a life insurance policy without causing it to lose its tax-advantaged status as life insurance under IRS guidelines. It is determined based on IRS regulations and ensures that the policy remains compliant with Section 7702 of the Internal Revenue Code.
          example: 65068.27
        guidelineLevelPremium:
          type: number
          format: double
          description: The Guideline Level Premium (GLP) is the maximum total premium that can be paid over time into a life insurance policy without violating IRS regulations under Section 7702. It ensures that a policy retains its tax-advantaged status as life insurance and does not become classified as a Modified Endowment Contract (MEC).
          example: 4695.39
        sevenPayPremium:
          type: number
          format: double
          description: The 7-Pay Premium refers to the maximum cumulative premium that can be paid into a life insurance policy during the first seven years without causing the policy to become a Modified Endowment Contract (MEC). It is part of the 7-Pay Test, which ensures that life insurance policies do not become overfunded and lose their tax advantages.
          example: 19807.51
        modalPremium:
          type: number
          format: double
          description: Modal Premium refers to the actual premium amount a policyholder pays based on the selected billing frequency (mode)—such as monthly, quarterly, semiannual, or annual. It represents the current periodic payment due for the base coverage and any attached riders under a life or annuity insurance policy.
          example: 1000
        cumulativeModalPremium:
          type: number
          format: double
          description: Cumulative Modal Premium refers to the sum of actual premium amount a policyholder pays based on the selected billing frequency (mode)—such as monthly, quarterly, semiannual, or annual. It represents the sum of current periodic payment due for the base coverage and any attached riders under a life or annuity insurance policy.
          example: 1000
        coverageTargetPremium:
          type: number
          format: double
          description: Coverage Target Premium refers to the designated premium amount on a life insurance policy that:Qualifies for full target-level commissions in the first policy year, and Forms the basis for renewal commissions in subsequent policy years.Note - This is modal premium value
          example: 300000
        annualPremium:
          type: number
          format: double
          description: The annual premium is the total amount you would pay for a full year of life insurance or annuity if you made just one payment per year.
          example: 1000
        overdueModalPremium:
          type: number
          format: double
          description: refers to a scheduled premium payment that was not received or applied by its due date, based on the policy’s modal frequency (e.g., monthly, quarterly, semi-annual, or annual). It represents a missed payment obligation that remains outstanding and may trigger administrative or policy-level actions
          example: 1000
    WithdrawalValues:
      type: object
      properties:
        totalWithdrawalAmount:
          type: number
          format: double
          description: The Total Withdrawal Amount refers to the cumulative amount of funds withdrawn from a life insurance policy or annuity by the policyholder. This includes all withdrawals made since the policy’s inception, whether taken as partial surrenders, cash value withdrawals, or systematic distributions
          example: 0
        freeWithdrawalAmount:
          type: number
          format: double
          description: The Free Withdrawal Amount refers to the maximum amount a policyholder can withdraw from their life insurance policy or annuity in a contract year without incurring a surrender charge. This limit is set by the insurer and is typically expressed as a percentage of the account value or premiums paid
          example: 0
        yearToDateFreeWithdrawalAmount:
          type: number
          format: double
          example: 0
          description: The YTD Free Amount (Year-To-Date Free Withdrawal Amount) refers to the total amount withdrawn so far in the current contract year that was within the free withdrawal limit, meaning it did not incur surrender charges. This tracks how much of the allowable free withdrawal limit has been used
        minimumWithdrawalAmount:
          type: number
          format: double
          description: The Minimum Withdrawal Amount refers to the smallest amount a policyholder can withdraw from their life insurance policy or annuity in a single transaction, as defined by the insurer. This ensures that withdrawals remain administratively efficient and align with policy rules
          example: 1
        maximumWithdrawalAmount:
          type: number
          format: double
          description: The Maximum Withdrawal Amount refers to the highest amount a policyholder can withdraw from their life insurance policy or annuity in a single transaction or within a policy year, as set by the insurer. This ensures that withdrawals do not deplete the policy’s cash value too quickly or violate contract terms
          example: 161.81698
        annualWithdrawalLimitNoCoverageDecrease:
          type: number
          format: double
          description: The Annual Withdrawal Limit for No Coverage Decrease refers to the maximum amount a policyholder can withdraw from their life insurance policy within a policy year without reducing the death benefit or coverage amount. This ensures that policyholders can access cash value while maintaining full coverage
          example: 322.678939
        maximumWithdrawalRequestDuringVestingPeriod:
          type: number
          format: int32
          description: The Max Withdrawal Request Allowed During Vesting Period refers to the highest number of withdrawal transactions permitted within the vesting period of a life insurance policy or annuity. This ensures policyholders follow contract rules while maintaining eligibility for vested benefits
          example: 1
        yearToDateNumberOfWithdrawal:
          type: number
          description: The YTD (Year-To-Date) Number of Withdrawals refers to the total count of withdrawal transactions made by the policyholder from the beginning of the policy year to the present date. This tracks how frequently funds have been withdrawn within the current policy year
          example: 1
          format: int32
        maximumWithdrawalRequestAfterVestingPeriod:
          type: number
          description: The Max Withdrawal Request Allowed After Vesting Period refers to the highest number of withdrawals a policyholder can make per year or over the life of the policy after the vesting period has ended. This ensures that policyholders can access their funds while still maintaining policy sustainability and compliance with contract terms
          example: 12
          format: int32
        totalYearToDateWithdrawalTaken:
          type: number
          description: The Total YTD (Year-To-Date) Withdrawal Taken refers to the total amount withdrawn by the policyholder from their life insurance policy or annuity within the current contract year. This tracks all withdrawals made so far from the beginning of the policy year up to the present date.
          example: 0
          format: double
        numberOfWithdrawal:
          type: number
          description: The Number of Withdrawals refers to the total count of withdrawal transactions made by the policyholder within a specified period, typically within the current policy year or calendar year. This tracks how frequently funds have been withdrawn from the policy
          example: 0
          format: int32
        withdrawalAllowedStartDate:
          type: string
          description: The Withdrawal Allowed Start Date refers to the calculated date from which the policyholder is permitted to make withdrawals from the policy’s cash value or annuity funds. This date is determined based on policy terms, surrender charge periods, and regulatory restrictions
          example: '2023-01-01'
          format: date
        remainingFreeWithdrawalAmount:
          type: number
          format: double
          description: The remaining portion of the annual free withdrawal allowance that the policyholder can withdraw during the current contract year without incurring surrender charges or withdrawal penalties.
          example: 0
      required:
      - yearToDateFreeWithdrawalAmount
    TaxRateToUse:
      type: string
      enum:
      - NOWITHHOLDINGELECTED
      - USEVALUESENTERED
      - NOWITHHOLDINGALLOWED
      - USEDEFAULTTABLE
      - ADDITIONALWITHHOLDING
      - TAKEINPUTTEDVALUE
    PolicySnapshotSurplusDistribution:
      type: object
      properties:
        surplusDistributionTotalAmount:
          type: number
          format: double
          description: This is Cumulative Surplus Distribution Amount
          example: 1000
        totalPaidUpAdditionCashValue:
          type: number
          format: double
          description: The total Cash Value of all the Paid-Up Additions that currently exist on the policy. This is the value available for surrender on the policy that is linked to the Paid-Up Additions purchased.
          example: 1500
        totalPaidUpAdditionCoverage:
          type: number
          format: double
          description: The total coverage of all the Paid-Up Additions that currently exist on the policy. This is the value of the additional coverages that were purchased with the dividend as a Paid-Up Addition.
          example: 1500.72
    TaxWithholdingType:
      type: string
      enum:
      - FEDERAL
      - STATE
      - NRA
      - BACKUP
    DeathBenefitOptionType:
      type: string
      enum:
      - LEVEL
      - INCREASING
    DistributionType:
      type: string
      enum:
      - WIREHOUSE
      - REGISTEREDINVESTMENTADVISER
      - INDEPENDENTAGENCY
      - FINANCIALPLANNINGFIRM
      - FINANCIALINSTITUTION
      - BROKER_DEALER
      - THIRDPARTYDIRECTTOCONSUMER
      - BANKMARKET
      - BROKERAGE_INDEPENDENTMARKET
      - CAPTIVEMARKET
      - AFFILIATEDAGENCY
      - INSTITUTIONALMARKET
      - FARMERSMLEA
    RiskClass:
      type: string
      enum:
      - ULTRANONTOBACCO
      - ELITENONTOBACCO
      - PREFERREDNONTOBACCO
      - STANDARDNONTOBACCO
      - STANDARDTOBACCO
      - STANDARDAGGREGATE
      - SUBSTANDARDNONTOBACCO
      - SUBSTANDARDTOBACCO
      - STANDARDPLUSNONTOBACCO
      - PREFERREDTOBACCO
      - STANDARDCONVERSIONTOBACCO
      - STANDARDCONVERSIONNONTOBACCO
    TrackerType:
      type: string
      enum:
      - ERRORTRACKER
      - PAUSEDTRACKER
      - TXLIFE
      - POLICYSTATETRACKER
      - LOCKEDTRACKER
      - REVERSALREQUEST
      - POLICYISSUANCEERROR
    Distribution:
      type: object
      properties:
        investmentType:
          $ref: '#/components/schemas/InvestmentType'
        modelName:
          type: string
          description: Elect from available .. If Owner picks and Model as an investment option
          example: TBD
        modelId:
          type: string
          description: The corresponding Model Id of the elected model
          example: TBD
        fundAllocationsInvestments:
          type: array
          items:
            $ref: '#/components/schemas/FundAllocation'
        funds:
          type: array
          items:
            $ref: '#/components/schemas/Fund'
        matchSegment:
          $ref: '#/components/schemas/MatchSegment'
        loanSegments:
          type: array
          items:
            $ref: '#/components/schemas/LoanSegment'
        surplusDistributions:
          type: array
          items:
            $ref: '#/components/schemas/AllocationSurplusDistribution'
    Insured:
      type: object
      properties:
        existingLifeInsurance:
          type: boolean
          description: Any existing life insurance details of the insured
        existingLifeInsuranceAmount:
          type: number
          format: double
          example: 0
          description: The existing life insurance amount of the insured
        replaceLifeInsurance:
          type: boolean
          description: Any life insurance replacement details of the insured
        pendingOrPlanToBuyAdditional:
          type: boolean
          description: Any details of pending or plan to buy additional life insurance of the insured
        isDependent:
          type: boolean
          description: Any dependent details of the insured
        employed:
          type: boolean
          description: Any employment details of the insured
        employmentStatus:
          $ref: '#/components/schemas/EmploymentStatus'
        occupation:
          type: string
          description: Occupation of the insured
          example: Salesman
        householdIncome:
          type: number
          format: double
          description: Household income of the insured
          example: 50000
        deathDetails:
          $ref: '#/components/schemas/DeathDetail'
        impairmentDetails:
          $ref: '#/components/schemas/ImpairmentDetails'
    Parties:
      type: object
      properties:
        partyType:
          $ref: '#/components/schemas/PartyType'
        partyRoleId:
          type: string
          description: TBD
        parentPartyId:
          type: string
          description: 'The Parent Party ID is a unique identifier used to establish a hierarchical or relational link between multiple related parties within a life insurance or annuity contract. It is particularly useful in complex ownership or beneficiary structures, such as: Trust-owned policies, Multiple contingent beneficiaries linked to a single primary beneficiary, Parties acting in legal or fiduciary roles (e.g., grantors, trustees, custodians)'
          example: '1'
        beneficiaryPercentage:
          type: number
          description: Deprecated - kept for backward compatibility; instead use partyPercentage. The benefit percentage of the beneficiary
          example: 100
          format: double
        agentPercentage:
          type: number
          format: double
          description: Deprecated - kept for backward compatibility; instead use partyPercentage. Commission percentage for each agent
          example: 100
        agentExternalId:
          type: string
          description: The Id which user enters(Id validated in MCS) - Agent External ID and Compnay ID uniquely identifies the right Agent
          example: '3160000751'
        agentType:
          $ref: '#/components/schemas/AgentType'
        firstName:
          type: string
          description: The first name of the party/trustee
          example: Karen
        middleName:
          type: string
          description: The middle name of the party/trustee
          example: Anne
        lastName:
          type: string
          description: The last name of the party/trustee
          example: Bates
        fullName:
          type: string
          description: The full name of the party/The legal name of the Trust/Organization
          example: Karen Anne Bates
        prefix:
          $ref: '#/components/schemas/Prefix'
        suffix:
          type: string
          enum:
          - JR
          - SN
          - SR
          - I
          - II
          - III
          - IV
          - V
          - VI
          - VII
          description: The suffix of the party name
        gender:
          $ref: '#/components/schemas/Gender'
        dateOfBirth:
          type: string
          description: The date of birth of the party
          format: date
          example: '2023-01-01'
        genderIdentity:
          type: string
          description: Gender Identity refers to an individual's self-identified internal sense of gender, which may differ from their sex assigned at birth. This value reflects how the individual personally defines their gender and may be expressed in free-text to allow for inclusivity and accuracy
          example: TBD
        attainedAge:
          type: integer
          description: Age calculated by date of birth and Policy year
          format: int32
          example: 55
        birthCountry:
          $ref: '#/components/schemas/Country'
        citizenCountry:
          $ref: '#/components/schemas/Country'
        birthState:
          $ref: '#/components/schemas/State'
        doingBusinessAs:
          type: string
          description: The name the organization is commonly known as
          example: TBD
        abbreviatedName:
          type: string
          description: The shortened/abbreviated version of the organization`s name that is unique to the organization
          example: TBD
        organizationCode:
          type: string
          description: Code to Identify organization
          example: TBD
        entityType:
          $ref: '#/components/schemas/EntityType'
        trustDate:
          type: string
          description: The trust agreement issued date to the party
          format: date
          example: '2023-01-01'
        amendedTrustDate:
          type: string
          description: The Amended Trust Date refers to the most recent date on which the trust agreement was formally amended or restated, particularly when the trust is designated as the owner or beneficiary of a life insurance or annuity policy
          format: date
          example: '2023-01-01'
        governingStateOfTrust:
          $ref: '#/components/schemas/State'
        trustType:
          $ref: '#/components/schemas/TrustType'
        trustTitle:
          type: string
          description: The title of the trustee
          example: TBD
        trustAccessCode:
          type: string
          description: Access code of the trustee
          example: TBD
        preferredCommunicationType:
          $ref: '#/components/schemas/PreferredCommunicationType'
        preferredAddressIndicator:
          type: string
          description: Deprecated - kept for backward compatibility; instead use preferredAddressIndicator under Address section
          example: '1'
        preferredAddressId:
          type: string
          description: The Preferred Address ID refers to the unique identifier of the address designated as the primary or preferred address for a given party when multiple addresses are associated with that individual or entity. This ensures consistent use of the correct address for communication, correspondence, and recordkeeping
          example: '1'
        preferredEmailId:
          type: string
          description: The Preferred Email ID refers to the unique identifier of the email address designated as the primary or preferred email contact for an individual or entity when multiple email addresses are on file
          example: '1'
        preferredPhoneId:
          type: string
          description: The Preferred Phone ID refers to the unique identifier of the phone number designated as the primary contact number for a given individual or entity when multiple phone numbers are associated with the same party
          example: '1'
        partyPercentage:
          type: number
          format: double
          description: Party Percentage refers to the proportion of ownership, benefits, or responsibility assigned to a party within an insurance or annuity contract. It is used to distribute policy ownership, benefit payouts, commission sharing, or annuity payments among multiple parties
          example: 12.1213
          deprecated: true
        formerName:
          $ref: '#/components/schemas/FormerName'
        identifications:
          type: array
          items:
            $ref: '#/components/schemas/Identification'
        taxWithholdings:
          type: array
          items:
            $ref: '#/components/schemas/TaxWithholding'
        partyStatus:
          $ref: '#/components/schemas/PartyStatus'
        isPartyBeneficiaryNonNatural:
          type: boolean
          description: A boolean field that indicates whether the beneficiary of a Party (when the Party is a Trust) is Non-Natural. This data point is captured for taxation purposes, as Trusts established for individuals are taxed differently from those benefiting entities
        isIrrevocable:
          type: boolean
          description: An indicator if the beneficiary is irrevocable. If yes, when doing any changes the beneficiary must also sign forms
        isRequiredMinimumDistributionDesignated:
          type: boolean
          description: An indicator if the beneficiary is designated to be included in Joint RMD calculations
        lastContactDate:
          type: string
          format: date
          description: Last Contact Date refers to the most recent date on which there was a direct or system-recorded interaction with a party (individual or entity) associated with a policy or contract. This party may be a policyholder, insured, beneficiary, payor, agent, or any other role relevant to life and annuity products.
          example: '2023-01-01'
        beneficiaryShareMethod:
          type: string
          enum:
          - PERSTIRPESDISTRIBUTION
          description: The Beneficiary Share Method refers to the approach used to allocate the death benefit (or other payouts) among multiple beneficiaries listed under a policy or contract. It determines how the proceeds are divided in the event of the insureds death and is typically defined during policy setup or updated via a beneficiary change request.
        delegatedExecutionAuthorityType:
          $ref: '#/components/schemas/DelegatedExecutionAuthorityType'
        partyRoles:
          type: array
          items:
            $ref: '#/components/schemas/PolicyPartyRoles'
        partyId:
          type: string
          description: Party ID is a unique identifier assigned to a party (individual or entity) involved in an insurance or annuity contract. This identifier helps ensure accurate data exchange and tracking across insurance transactions
          example: Party_PB_Primary_Bene_1
        addresses:
          description: Array of addresses associated with the party
          type: array
          items:
            $ref: '#/components/schemas/Address'
        phones:
          description: Array of phone numbers associated with the party
          type: array
          items:
            $ref: '#/components/schemas/Phone'
        emails:
          description: Array of emails associated with the party
          type: array
          items:
            $ref: '#/components/schemas/Email'
        bankDetails:
          description: Array of bank accounts associated with the party
          type: array
          items:
            $ref: '#/components/schemas/BankAccount'
        deathDetails:
          $ref: '#/components/schemas/DeathDetail'
        impairmentDetails:
          $ref: '#/components/schemas/ImpairmentDetails'
        timestamp:
          type: string
          format: date-time
          description: TBD
          example: '2023-01-01T12:00:00.000Z'
        customerId:
          type: string
          description: Assigned by Sales Force and used by all platforms
          example: 0017b000010N4bCAAS
        insured:
          description: Reference to the Insured model
          allOf:
          - $ref: '#/components/schemas/Insured'
        version:
          type: number
          format: int32
          example: 1
    Phone:
      type: object
      properties:
        startDate:
          type: string
          description: The start date of when the party can be reached via the phone.Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        endDate:
          type: string
          description: The end date of when the party can be reached via the phone. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        phoneType:
          $ref: '#/components/schemas/PhoneType'
        countryCode:
          type: string
          description: Country Code of the phone
          example: '9'
        areaCode:
          type: string
          description: Area code of the phone
          example: '973'
        dialNumber:
          type: string
          description: Dial number of the phone
          example: '765789'
        extension:
          type: string
          description: Dial in Extension for phone
          example: 'null'
        bestTime:
          type: string
          description: The best time to contact the party via phone
          example: 'null'
        timezone:
          type: string
          description: Timezone for the entered phone details
          example: 'null'
        isPreferred:
          type: boolean
          description: The Preferred Phone Indicator is a boolean flag or attribute assigned to each phone number associated with a party, used to identify which phone number should be used as the primary contact number for communication
        phoneId:
          type: string
          description: The record Id stored internally in zahara for each phone
          example: '1'
    PhoneType:
      type: string
      enum:
      - MOBILE
      - HOME
      - BUSINESS
      - CLAIMCENTER
      - CUSTOMERSERVICE
      - CORPORATEOFFICE
      - FAX
      - UNKNOWN
      - OTHER
    UnderwritingStatus:
      type: string
      enum:
      - APPROVED
      - DECLINED
    CauseOfDeath:
      type: string
      enum:
      - AIDS
      - ACCIDENTOTHER
      - ACCIDENTBYFIRE
      - ACCIDENTALDROWNING
      - ACCIDENTALFALL
      - ACCIDENTALPOISONING
      - AIRCRAFTACCIDENT
      - ALCOHOLISM
      - ALLERGICDISORDERS
      - ANEMIA
      - APPENDICITIS
      - ARTERIALDISEASE
      - AVITAMINOSIS
      - BENIGNTUMOR
      - BIRTHINJURY
      - BRONCHITIS
      - BRONCHOPNEUMONIA
      - COVID
      - CANCERBONE
      - CANCERBREAST
      - CANCERCERVIX
      - CANCERESOPHAGUS
      - CANCERINTESTINE
      - CANCERLARYNX
      - CANCERLUNG
      - CANCERMOUTH
      - CANCEROTHER
      - CANCERPROSTATE
      - CANCERRECTUM
      - CANCERSKIN
      - CANCERSTOMACH
      - CANCERUTERUS
      - CIRCULATORYOTHER
      - CIRRHOSIS
      - CONGENITALDISORDER
      - DIABETES
      - DIGESTIVEDISEASEOTHER
      - DIPTHERIA
      - DRUGOVERDOSE
      - DYSENTERY
      - EARINFECTION
      - EMPHYSEMA
      - ENCEPHALITIS
      - ENLARGEDPROSTATE
      - EPILEPSY
      - FIREARMACCIDENT
      - FLU
      - GALLSTONE
      - GASTRITIS
      - GASTROENTERITIS
      - GOITERNONTOXIC
      - HEARTARTERIOSCLEROTIC
      - HEARTOTHER
      - HEARTRHEUMATIC
      - HERNIA
      - HOMICIDE
      - HYPERTENSIONHEART
      - HYPERTENSIONNOHEART
      - KIDNEYINFECTION
      - KIDNEYSTONE
      - LEUKAEMIA
      - LUNGDISEASEOTHER
      - LYMPHORSARCOMA
      - MACHINERYACCIDENT
      - MALARIA
      - MEASLES
      - MENINGITISMENIN
      - MENINGITISNONMENIN
      - MENTALDISORDER
      - MOTORVEHICLEACCIDENT
      - MULTIPLESCLEROSIS
      - NATURALDEATH
      - NEPHRITIS
      - NERVOUSSYSTEMOTHER
      - NEWBORNDISORDEROTHER
      - NEWBORNINFECTION
      - OSTEOMYELITIS
      - PARASITICDISEASEOTHER
      - PLEURISY
      - PNEUMONIALOBAR
      - PNEUMONIAOTHER
      - POLIO
      - PREGNANCYDISORDER
      - RHEUMATICFEVER
      - SCARLETFEVER
      - SENILITY
      - SEPTICAEMIA
      - SKINDISEASEOTHER
      - SKININFECTION
      - SUICIDE
      - SYPHILIS
      - TETANUS
      - THYROTOXICOSIS
      - TUBERCULOSIS
      - TYPHOID
      - TYPHUS
      - ULCEROFDUODENUM
      - ULCEROFSTOMACH
      - UNKNOWN
      - URINARYDISEASEOTHER
      - VASCULARLESIONS
      - WAR
      - WHOOPINGCOUGH
      - PENDINGINVESTIGATION
      - ACCIDENT
    RequiredMinimumDistributionCalculationOption:
      type: string
      enum:
      - RULE2002
      - BENEFICIARYDISTRIBUTIONQUALIFIED
      - BENEFICIARYDISTRIBUTIONNONQUALIFIED
      - JOINTNONRECALCULATION1987
      - JOINTRECALCULATION1987
      - MANUALENTRY
      - SINGLENONRECALCULATION1987
      - SINGLERECALCULATION1987
    FeatureType:
      type: string
      enum:
      - FREELOOK
      - LAPSEASSESSMENT
      - LAPSEPROTECTION
      - REINSTATEMENT
      - RATELOCK
      - ANNUITIZATION
      - NONFORFEITUREOPTION
      - CONVERSION
      - BILLING
      - CUSTOMFEATURE
      - SURPLUSDISTRIBUTION
    RiderCharge:
      type: object
      properties:
        riderExerciseCharge:
          type: number
          description: One Time Rider Charge that will be Applied upon Rider Activation
          format: double
          example: 0
        riderExerciseChargeRate:
          type: number
          description: The rate or percentage applied to calculate the charge for exercising the rider
          format: double
          example: 0
    RestrictStatus:
      type: string
      enum:
      - LEGAL
      - OPERATIONAL
      - COMPLIANCE
      - MECRESTRICT
      - OVERPAYMENT
      - COLLATERALLYASSIGNEDUNSPECIFIED
      - DIVORCE
    PartyRoles:
      type: object
      properties:
        partyRole:
          $ref: '#/components/schemas/PartyRole'
        partyRoleId:
          type: string
          description: The Party Role ID is a unique identifier assigned to a specific role that a party (individual or entity) plays within an insurance or annuity contract. It serves to distinctly track and manage the relationship between the party and the contract, especially when a party may have multiple roles across different policies or within the same policy
        partyId:
          type: string
          description: Party ID is a unique identifier assigned to a party (individual or entity) involved in an insurance or annuity contract. This identifier helps ensure accurate data exchange and tracking across insurance transactions
          example: Party_PI_1
        startDate:
          type: string
          description: Date the Party was added to the Policy
          example: '2023-01-01'
          format: date
        endDate:
          type: string
          description: Date the Party was Terminated from the Policy
          example: '2023-01-01'
          format: date
    PartyRole:
      type: string
      enum:
      - OWNER
      - PRIMARYBENEFICIARY
      - CONTINGENTBENEFICIARY
      - INSURED
      - PAYOR
      - PAYEE
      - AGENT
      - PRIMARYWRITINGAGENT
      - PRIMARYSERVICINGAGENT
      - ADDITIONALSERVICINGAGENT
      - ADDITIONALWRITINGAGENT
      - THIRDPARTYDESIGNEE
      - JOINTOWNER
      - COVERAGEINSURED
      - ASSIGNEE
      - ANNUITANT
      - EXCHANGECOMPANY
      - JOINTANNUITANT
      - GRANTOR
      - TRUSTEE
      - POWEROFATTORNEY
      - AUTHORIZEDSIGNATORY
      - OTHERINTERESTEDPARTY
      - CONTINGENTOWNER
      - THIRDPARTYADMINISTRATOR
      - CARRIER
      - SUCCESSORTRUSTEE
      - COVERAGEJOINTINSURED
    Reason:
      type: string
      enum:
      - PREMIUM
      - LOANREPAYMENT
      - FREEWITHDRAWALAMOUNT
      - WITHDRAWAL
      - ANNUITYPAYOUT
      - REQUIREDMINIMUMDISTRIBUTION
    PolicyChargeType:
      type: string
      enum:
      - COSTOFINSURANCE
      - EXPENSECHARGE
      - UNITEXPENSECHARGE
      - PAYMENTCHARGE
      - COVERAGECHARGE
      - COVERAGECREDIT
      - PREMIUMTAX
      - SURRENDERCHARGE
      - MARKETVALUEADJUSTMENT
      - RIDERCHARGE
    Email:
      type: object
      properties:
        startDate:
          type: string
          description: The start date of when the party can be reached via email.Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        endDate:
          type: string
          description: The end date of when the party can be reached via email. Date (with pattern "yyyy-mm-dd")
          example: '2023-01-01'
          format: date
        emailType:
          $ref: '#/components/schemas/EmailType'
        emailAddress:
          type: string
          description: Email address of the party
          example: user@example.com
        isPreferred:
          type: boolean
          description: The Preferred Email Indicator is a boolean flag associated with each email address linked to a party, used to designate which email address should be treated as the primary contact for electronic communications
        emailId:
          type: string
          description: The record Id stored internally in zahara for each email
          example: '1'
    FixedCostPeriodUnit:
      type: string
      description: The unit of measure for the Fixed Cost Period. YEARS indicates the period is measured in policy years from the policy start date. AGE indicates the period is measured until the insured reaches a specific age. For Everly IUL T65 products, AGE with value 65 maps to OLI_LU_BENEPERIOD TC=16.
      enum:
      - YEARS
      - AGE
    LoanInterestMethod:
      type: string
      enum:
      - ADVANCE
      - ARREARS
    FilingStatus:
      type: string
      enum:
      - SINGLE
      - DOMESTICPARTNERSHIP
      - DEFAULT
      - MARRIED
      - HEADOFHOUSEHOLD
      - WIDOWED
      - DIVORCED
      - MARRIEDFILINGSEPARATELY
    FormerName:
      type: object
      properties:
        firstName:
          type: string
          description: Former first name of the party/trustee
          example: Karen
        middleName:
          type: string
          description: Former middle name of the party/trustee
          example: Anne
        lastName:
          type: string
          description: Former last name of the party/trustee
          example: Bates
        prefix:
          $ref: '#/components/schemas/Prefix'
        suffix:
          type: string
          enum:
          - JR
          - SN
          - SR
          - I
          - II
          - III
          - IV
          - V
          - VI
          - VII
          description: The suffix of the party name
        fullName:
          type: string
          description: Former full name of the party/Former legal name of the Trust/Organization
          example: Karen Anne Bates
        abbreviatedName:
          type: string
          description: The former shortened/abbreviated version of the organization`s name that is unique to the organization
          example: TBD
        doingBusinessAs:
          type: string
          description: The former name the organization is commonly known as
          example: TBD
    TrustType:
      type: string
      enum:
      - INDIVIDUALTRUST
      - CORPORATETRUST
      - TESTAMENTARYTRUST
      - INTERVIVOSTRUST
      - GRANTORTRUST
      - PETTRUST
    LoanValues:
      type: object
      properties:
        totalLoanBalance:
          type: number
          format: double
          description: The Total Loan Balance refers to the outstanding loan amount on a life insurance policy, including the principal, accrued interest, and any unpaid loan charges. This balance reflects the total amount the policyholder owes the insurance company when a policy loan is taken against the cash value.
          example: 1000
        totalLoanPrincipal:
          type: number
          format: double
[...]
